<div class="modal-header">
  <h5 class="modal-title">
    <strong>
      <%= @organisation.name %>
    </strong>
    [ <%= @organisation.stakeholder_type_name %> ]
  </h5>
</div>
<div class="modal-body">
  <%= render 'description' %>
  <%= render 'initiatives' %>
  <%= render 'partnering_initiatives' %>
  <%= render 'partnering_organisations' %>
  <%= render 'metrics' %>
</div>

