<div class="mx-auto max-w-6xl">
  <h1 class="text-2xl/8 font-semibold text-zinc-950 sm:text-xl/8 text-black dark:text-white">Hello, <%= current_user.name %></h1>

  <div class="mt-8 flex items-end justify-between">
    <h2 class="text-base/7 font-semibold text-zinc-950 sm:text-sm/6 text-black dark:text-white">Overview</h2>
  </div>

  <div class="mt-4 grid gap-8 sm:grid-cols-2 xl:grid-cols-4 text-black dark:text-white">
    <div>
      <hr
        role="presentation"
        class="w-full border-t border-2 border-cyan-600"
      />
      <div class="mt-6 text-lg/6 font-medium sm:text-sm/6">Impact Cards</div>
      <div class="mt-3 text-3xl/8 font-semibold sm:text-2xl/8"><%= @scorecard_count %></div>
      <div class="mt-3 text-sm/6 sm:text-xs/6">
        <span class="text-zinc-500"><%= link_to('More info', scorecards_path) %></span>
      </div>
    </div>
    <div>
      <hr
        role="presentation"
        class="w-full border-t border-2 border-sky-600"
      />
      <div class="mt-6 text-lg/6 font-medium sm:text-sm/6">Initiatives</div>
      <div class="mt-3 text-3xl/8 font-semibold sm:text-2xl/8"><%= @initiative_count %></div>
      <div class="mt-3 text-sm/6 sm:text-xs/6">
        <span class="text-zinc-500"><%= link_to('More info', initiatives_path) %></span>
      </div>
    </div>
    <div>
      <hr
        role="presentation"
        class="w-full border-t border-2 border-teal-600"
      />
      <div class="mt-6 text-lg/6 font-medium sm:text-sm/6">Problems / Opportunities</div>
      <div class="mt-3 text-3xl/8 font-semibold sm:text-2xl/8"><%= @wicked_problem_count %></div>
      <div class="mt-3 text-sm/6 sm:text-xs/6">
        <span class="text-zinc-500"><%= link_to('More info', labels_wicked_problems_path) %></span>
      </div>
    </div>
    <div>
      <hr
        role="presentation"
        class="w-full border-t border-2 border-teal-500"
      />
      <div class="mt-6 text-lg/6 font-medium sm:text-sm/6">Stakeholders</div>
      <div class="mt-3 text-3xl/8 font-semibold sm:text-2xl/8"><%= @organisation_count %></div>
      <div class="mt-3 text-sm/6 sm:text-xs/6">
        <span class="text-zinc-500"><%= link_to('More info', organisations_path) %></span>
      </div>
    </div>
  </div>
</div>


<%= render 'dashboard/activities'%>

