<div class="row dashboard">
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-color-5">
      <div class="inner">
        <h3><%= @scorecard_count %></h3>

        <p><%= Scorecard.model_name.human.pluralize(@scorecard_count) %></p>
      </div>
      <div class="icon">
        <i class="fa fa-check-square-o"></i>
      </div>
      <%= link_to(scorecards_path, {class: 'small-box-footer'}) do
            safe_join(['More info ', content_tag(:i, '', class: "fa fa-arrow-circle-right")])
          end
      %>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-color-6">
      <div class="inner">
        <h3><%= @initiative_count %></h3>

        <p><%= 'Initiative'.pluralize(@initiative_count) %></p>
      </div>
      <div class="icon">
        <i class="fa fa-lightbulb-o"></i>
      </div>
      <%= link_to(initiatives_path, {class: 'small-box-footer'}) do
            safe_join(['More info ', content_tag(:i, '', class: "fa fa-arrow-circle-right")])
          end
      %>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-color-7">
      <div class="inner">
        <h3><%= @wicked_problem_count %></h3>

        <p><%= 'Wicked Problem'.pluralize(@wicked_problem_count) %>/<%= 'Opportunity'.pluralize(@wicked_problem_count) %></p>
      </div>
      <div class="icon">
        <i class="fa fa-cubes"></i>
      </div>
      <%= link_to(wicked_problems_path, {class: 'small-box-footer'}) do
            safe_join(['More info ', content_tag(:i, '', class: "fa fa-arrow-circle-right")])
          end
      %>
    </div>
  </div>
  <!-- ./col -->
  <div class="col-lg-3 col-xs-6">
    <!-- small box -->
    <div class="small-box bg-color-8">
      <div class="inner">
        <h3><%= @organisation_count %></h3>

        <p><%= 'Organisation'.pluralize(@organisation_count) %></p>
      </div>
      <div class="icon">
        <i class="fa fa-sitemap"></i>
      </div>
      <%= link_to(organisations_path, {class: 'small-box-footer'}) do
            safe_join(['More info ', content_tag(:i, '', class: "fa fa-arrow-circle-right")])
          end
      %>
    </div>
  </div>
  <!-- ./col -->
</div>

<div class="row dashboard">
  <div class="col-md-6">
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">Hello</h3>
      </div>
      <div class="box-body scrollable-panel">
        <%= sanitize @welcome_message %>
      </div>
      <div class="box-footer">
        <%= link_to(welcome_message_path, class: 'remote-link pull-right') do
          safe_join(['More info ', content_tag(:i, '', class: "fa fa-arrow-circle-right")])
        end %>        
      </div>
    </div>
  </div>
  <%= render 'dashboard/activities'%>
</div>