<div data-controller='scorecards'>
  <ul id="transition-card-nav" class="nav nav-tabs">
    <li class="nav-item">
      <a href="#tab_1" class="nav-link <%= 'active' if @active_tab == :scorecard %>" data-target="#transition_card" data-toggle="tab"><%= @scorecard.model_name.human %></a>
    </li>
    <% if policy(@scorecard).ecosystem_maps? %>
      <li class="nav-item">
        <a href="#tab_2" class="nav-link <%= 'active' if @active_tab == :ecosystem_maps %>" data-target="#ecosystem_maps" data-toggle="tab">Ecosystem Maps</a>
      </li>
    <% end %>
    <% if policy(@scorecard).targets_network_maps? %>
      <li class="nav-item">
        <a href="#tab_2" class="nav-link <%= 'active' if @active_tab == :targets_network_map %>" data-target="#targets-network-map" data-toggle="tab" data-action="click->scorecards#loadTargetsNetworkMap">Target Network Maps</a>
      </li>
    <% end %>
    <li class="nav-item">
      <a href="#tab_4" class="nav-link <%= 'active' if @active_tab == :initiatives %>" data-target="#initiatives" data-toggle="tab">Initiatives</a>
    </li>
    <li class="nav-item">
      <a href="#tab_5" class="nav-link <%= 'active' if @active_tab == :details %>" data-target="#details" data-toggle="tab">Details</a>
    </li>
    <% if policy(@scorecard).activity? %>
      <li class="nav-item">
        <a href="#tab_56" class="nav-link <%= 'active' if @active_tab == :activity %>" data-target="#activity" data-toggle="tab" data-action="click->scorecards#loadActivities">Activity</a>
      </li>
    <%- end -%>
  </ul>
  <div class="tab-content">
    <div class="tab-pane <%= 'active' if @active_tab == :scorecard %>" id="transition_card">
      <%- if @scorecard.is_a?(TransitionCard) %>
        <%= render 'transition_cards/show_tabs/scorecard'%>
      <%- else %>
        <%= render 'sustainable_development_goal_alignment_cards/show_tabs/scorecard'%>
      <%- end -%>
    </div>
    <% if policy(@scorecard).ecosystem_maps? %>
      <div class="tab-pane <%= 'active' if @active_tab == :ecosystem_maps %>" id="ecosystem_maps">
        <%= render 'scorecards/show_tabs/ecosystem_maps'%>
      </div>
    <% end %>
    <% if policy(@scorecard).targets_network_maps? %>
      <div style="height: 400px" class="tab-pane <%= 'active' if @active_tab == :targets_network_map %>" id="targets-network-map"  data-scorecards-target="targetsNetworkMap">
        <%= render 'sustainable_development_goal_alignment_cards/show_tabs/targets_network_map'%>
      </div>
    <% end %>
    <div class="tab-pane <%= 'active' if @active_tab == :initiatives %>" id="initiatives">
      <%= render 'scorecards/show_tabs/initiatives'%>
    </div>
    <div class="tab-pane <%= 'active' if @active_tab == :details %>" id="details">
      <%= render 'scorecards/show_tabs/details'%>
    </div>
     <% if policy(@scorecard).activity? %>
      <div class="tab-pane <%= 'active' if @active_tab == :activity %>" id="activity" data-scorecards-target="activities">
      </div>
    <%- end -%>
  </div>
</div>
