
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#tab_1" class="nav-link <%= 'active' if @active_tab == :scorecard %>" data-target="#tab_1" data-toggle="tab"><%= Scorecard.model_name.human %></a>
    </li>
    <li class="nav-item">
      <a href="#tab_2" class="nav-link <%= 'active' if @active_tab == :ecosystem_maps %>" data-target="#tab_2" data-toggle="tab">Ecosystem Maps</a>
    </li>
    <li class="nav-item">
      <a href="#tab_3" class="nav-link <%= 'active' if @active_tab == :initiatives %>" data-target="#tab_3" data-toggle="tab">Initiatives</a>
    </li>
    <li class="nav-item">
      <a href="#tab_4" class="nav-link <%= 'active' if @active_tab == :details %>" data-target="#tab_4" data-toggle="tab">Details</a>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane <%= 'active' if @active_tab == :scorecard %>" id="tab_1">
       <%= render 'scorecards/show_tabs/transition_card'%>  
    </div>

    <div class="tab-pane <%= 'active' if @active_tab == :ecosystem_maps %>" id="tab_2">
      <%= render 'scorecards/show_tabs/ecosystem_maps'%>
    </div>

    <div class="tab-pane <%= 'active' if @active_tab == :initiatives %>" id="tab_3">
      <div class="box-header with-border">
        <h3 class="box-title" style="margin-right: 12px">Intiatives</h3>
        <%= if policy(Initiative).create?
              link_to(new_initiative_path(scorecard_id: @scorecard.id), class: 'btn btn-primary') do
                safe_join([content_tag(:i, '', class: "fa fa-plus"), ' New Initiative'])
              end
            end 
        %>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="box-group" id="accordion">
          <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
          <%- @scorecard.initiatives.order(name: :asc).each_with_index do |initiative, index| %> 
          <div class="panel box box-primary">
            <div class="box-header with-border">
              <h4 class="box-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-<%=index%>">
                  <%= initiative.name %>
                </a>
              </h4>
            </div>
            <div id="collapse-<%=index%>" class="panel-collapse collapse<%= " in" if index == 0 %>">
              <div class="box-body">
                <div>
                  <%= initiative.description.blank? ? content_tag(:em, 'No description given.') : initiative.description %>
                </div>
                <div class="pull-right">
                  <%= link_to 'Initiative Details', initiative_path(initiative), class: 'btn btn-primary pull-right' %> 
                </div>  
              </div>
            </div>
          </div>
          <%- end %>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
    <div class="tab-pane <%= 'active' if @active_tab == :details %>" id="tab_4">
      <%= render 'scorecards/details'%>
    </div>
  </div>
</div>
