<div class="nav-tabs-custom">
  <ul class="nav nav-tabs">
    <li class="<%= 'active' if @active_tab == :scorecard %>"><a href="#tab_1" data-target="#tab_1" data-toggle="tab"><%= Scorecard.model_name.human %></a></li>
    <li class="<%= 'active' if @active_tab == :initiatives %>"><a href="#tab_2" data-target="#tab_2" data-toggle="tab">Initiatives</a></li>
    <li class="<%= 'active' if @active_tab == :details %>"><a href="#tab_3" data-target="#tab_3" data-toggle="tab">Details</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane <%= 'active' if @active_tab == :scorecard %>" id="tab_1">
      <div class="box-header with-border">
        <div class="pull-left" style="padding-right: 5px">
          <div class="input-group">
            <button type="button" class="btn btn-default" id="daterange-btn" data-scorecard-id="<%=@scorecard.id%>" <%= "data-selected-date=\"#{@selected_date}\"" unless @selected_date.blank? %>>
              <span>
                <i class="fa fa-calendar"></i> <%= display_selected_date %>
              </span>
              <i class="fa fa-caret-down"></i>
            </button>
          </div>
        </div>
        <div class="pull-left">
          <%= link_to('#', class: 'btn btn-primary', id: 'daterange-clear-btn', data: { toggle: "tooltip"}, title: "Clear date") do
            content_tag(:i, '', class: "fa fa-undo")
          end %>
        </div>
        
        <%- if policy(:sidebar).show_subsystem_tags_link? %>
          <div class="pull-left" style="padding-right: 5px; padding-left: 5px;">
            <div class="input-group">
            
              <select multiple="multiple" class="form-control" id="subsystem-tags" style="min-width: 300px; width: auto;" data-scorecard-id="<%=@scorecard.id%>">
                <%- @selected_tags.each do |selected_tag| %>
                   <option value="<%= selected_tag.id %>" selected="selected"><%= selected_tag.text %></option>
                <%- end %>
              </select>
            </div>
          </div>
        <%- end %>
        
        <div class="pull-right">
          <button class="btn btn-primary show-gaps-button" type="button">Show gap in effort</button>
          <%- print_scorecard_path = if @selected_date 
                scorecard_path(@scorecard, format: :pdf, selected_date: @selected_date)
              else
                scorecard_path(@scorecard, format: :pdf)
              end
          %>
          <%= link_to(print_scorecard_path, class: 'btn btn-primary', data: { toggle: "tooltip"}, title: "Print") do
            content_tag(:i, '', class: "fa fa-print")
          end %>
          <%= link_to(show_shared_link_scorecard_path(@scorecard), class: 'remote-link btn btn-primary', data: { toggle: "tooltip"}, title: "Share") do
            content_tag(:i, '', class: "fa fa-share-alt")
          end %>
          <% if policy(:scorecard).copy_options? %>
            <%= link_to(copy_options_scorecard_path(@scorecard), class: 'remote-link btn btn-primary', data: { toggle: "tooltip"}, title: "Copy") do
              content_tag(:i, '', class: "fa fa-files-o")
            end %>
          <% end %>
          <% if policy(:scorecard).merge_options? %>
            <%= link_to(merge_options_scorecard_path(@scorecard), class: 'remote-link btn btn-primary', data: { toggle: "tooltip"}, title: "Merge") do
              content_tag(:i, '', class: "fa fa-file-text-o")
            end %>
          <% end %>
          
        </div>
      </div>
      <div class="box-body scorecard-matrix">
        <div class="outer">
          <div class="inner">
            <table class="pre-scrollable"> 
              <thead>
                <tr>
                  <th>&nbsp;</th>
                  <% @focus_areas.each_with_index do |focus_area, index| %>
                    <th colspan="<%= focus_area.characteristics.count %>" class="legend">
                      <div data-toggle="tooltip" data-placement="top" title="<%= focus_area.name %>">
                        <span class="text-color<%="#{index+1}"%>">Focus Area <%= index + 1 %>
                        </span>
                      </div>
                    </th>
                  <% end %>
                </tr>
              </thead>
              <tbody>
                <% @initiatives.each do |initiative| %>
                <tr>
                  <th>
                    <span data-toggle="tooltip" data-placement="top" title="<%= initiative.name %>">
                      <%= link_to initiative.name, initiative_path(initiative), class: 'truncate' %>
                    </span>
                  </th>
                  <% initiative.checklist_items_ordered_by_ordered_focus_area(@parsed_selected_date).each do |checklist_item| %>
                    <td data-toggle="tooltip" data-placement="left" title="<%= checklist_item.characteristic.name %>" class="cell <%= "gap" unless checklist_item.checked? %> <%= "color#{@focus_areas.index(checklist_item.characteristic.focus_area)+1}" %>"> <%# SMELL Needs to be 'relative' position %>
                      <span>&nbsp;</span>
                    </td>
                  <% end %>
                </tr>
                <% end %>
              </tbody>
              <tfoot>
                <tr class="chars"> 
                  <td>
                    &nbsp;
                  </td>
                  <% Characteristic.order(:position).joins(focus_area: :focus_area_group).all.each do |characteristic| %>
                    <td>
                      <span class="text-color<%= @focus_areas.index(characteristic.focus_area)+1%>"><%= characteristic.name %></span>
                    </td>
                  <% end %>
                </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="tab-pane <%= 'active' if @active_tab == :initiatives %>" id="tab_2">
      <div class="box-header with-border">
        <h3 class="box-title" style="margin-right: 12px">Intiatives</h3>
        <%= if policy(Initiative).create?
              link_to(new_initiative_path(scorecard_id: @scorecard.id), class: 'btn btn-primary') do
                safe_join([content_tag(:i, '', class: "fa fa-plus"), ' New Initiative'])
              end
            end 
        %>
      </div>
      <!-- /.box-header -->
      <div class="box-body">
        <div class="box-group" id="accordion">
          <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
          <%- @scorecard.initiatives.order(name: :asc).each_with_index do |initiative, index| %> 
          <div class="panel box box-primary">
            <div class="box-header with-border">
              <h4 class="box-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-<%=index%>">
                  <%= initiative.name %>
                </a>
              </h4>
            </div>
            <div id="collapse-<%=index%>" class="panel-collapse collapse<%= " in" if index == 0 %>">
              <div class="box-body">
                <div>
                  <%= initiative.description.blank? ? content_tag(:em, 'No description given.') : initiative.description %>
                </div>
                <div class="pull-right">
                  <%= link_to 'Initiative Details', initiative_path(initiative), class: 'btn btn-primary pull-right' %> 
                </div>  
              </div>
            </div>
          </div>
          <%- end %>
        </div>
      </div>
      <!-- /.box-body -->
    </div>
    <div class="tab-pane <%= 'active' if @active_tab == :details %>" id="tab_3">
      <%= render 'scorecards/details'%>
    </div>
  </div>
</div>