<div class="alwaysbreak">
  <%= render partial: 'pdf_page', locals: { focus_areas: @focus_areas[0..3], offset: 1 } %>
</div>
<div class="alwaysbreak">
  <%= render partial: 'pdf_page', locals: { focus_areas: @focus_areas[4..-1], offset: 5 } %>
</div>
<div class="alwaysbreak">
  <h3>Initiatives</h3>
  <hr>
  <% @initiatives.each do |initiative| %>
    <h4>Name: <%= initiative.name %></h4>
    <p>Created: <%= initiative.created_at.strftime('%B %-d, %Y') %>
    <p>Description: <%= initiative.description.blank? ? "<em>No description</em>".html_safe : initiative.description %></p>
    <hr>
  <% end %>
</div>
