$$ Need to have date/time in footer + Wicked Lab logo in header

<div class="row">
  <h2>Scorecard: <%= @scorecard.name %></h2>
</div>

<h3>Overview</h3>

<h4>Description</h4>
<p><%= @scorecard.description.html_safe %></p>

<h4>Initiatives</h4>

<% @initiatives.each_with_index do |initiative, index| %>
  <h5><%= "Initiative #{index+1}: #{initiative.name}" %></h5>
  
  <p>Description: <%= initiative.description %></p>
  
  <h6>Organisations:</h6>
  <ul>
  <% initiative.organisations.each do |organisation| %>
    <li><%= organisation.name %></li>
  <% end %>
  </ul>
<% end %>


* List of intiatives 
  * description of each
  * list of organisations for each
  * percentage completion for each
* Overall completion %


<div style="page-break-before: always;"><div>
<h3>Progress Summary</h3>
<div class="row">
  <div class="col-sm-2 pull-left">
    <h4>Focus Areas</h4>
  </div>
  
  <div class="col-sm-8">
    <h4>Characteristics</h4>
  </div>
  
  <div class="col-sm-2 pull-right">
    <h4>% Complete</h4>
  </div>
</div>
<hr>

<% @focus_areas.each_with_index do |focus_area, index | %>
<div class="row">
  <div class="col-sm-2 pull-left">
    <h5><%= "Focus Area #{index+1}" %></h5>
    <small><%= focus_area.name %></small>
  </div>
  
  <div class="col-sm-10">
  <% focus_area.characteristics.each do |characteristic| %>
    <div class="row">
      <div class="col-sm-8"><p><%= characteristic.name %></p></div>
      <div class="col-sm-2 pull-right">
        <small>100%</small>
      </div>  
    </div>
  <% end %>
  </div>    
</div>
<hr>
<% end %>

<h3>Intiative details
  
  Comments + check off items
