<div class="tab-pane active" id="checklist-items-tab">
  <div class="box box-solid">
    <div class="box-header with-border">
      <h3 class="box-title">Initative Characteristics</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="box-group" id="accordion">
        <% @grouped_checklist_items.keys.each do |focus_area_group| %>
          <div class="panel box box-primary">
            <div class="box-header with-border">
              <h4 class="box-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapsable-<%= focus_area_group.id %>">
                  <%= focus_area_group.name %>
                </a>
              </h4>
            </div>
            <div id="collapsable-<%= focus_area_group.id %>" class="panel-collapse collapse <%= "in" if focus_area_group == @grouped_checklist_items.keys.first %> ">
              <% @grouped_checklist_items[focus_area_group].each do |focus_areas| %>
                <div class="box-body">
                  <h3 class="box-title"><%= focus_areas.first.name %></h3>
                  <ul>
                    <% focus_areas.second.each do |c| %>
                      <li><label>
                        <%= check_box_tag "checklist_item[#{c.id}]", 
                          true, c.checked, 
                          class: 'characteristic-checkbox', data: { id: c.id, initiative_id: c.initiative_id } 
                        %>
                        <%= c.characteristic.name %>
                      </li>
                    <% end %>
                  </ul>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>  
  </div>
</div>