<div class="tab-pane active" id="checklist-items-tab">
  <div class="container">
    <div class="row tab-content-header p-3">
      <div class="col-sm">
        <div class="float-left pt-1">
          <h3><%= initiatives_characteristics_title(@initiative) %></h3>
        </div>
        <div class="float-right">

          <%-
            scorecard_model_name = case @initiative.scorecard
            when TransitionCard
              @initiative.scorecard.account.transition_card_model_name
            when SustainableDevelopmentGoalAlignmentCard
              @initiative.scorecard.account.sdgs_alignment_card_model_name
            end
          %>
          <%= link_to "#{scorecard_model_name} Details", scorecard_path(@initiative.scorecard), class: 'btn btn-primary float-right' %>
        </div>
      </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
      <div class="box-group" id="accordion">
        <% @focus_areas_groups.each do |focus_area_group| %>
          <div class="initiative-characteristics-container">
            <div class="focus-area-group-container">
              <h4 class="focus-area-group-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapsable-focus-area-group-<%= focus_area_group.id %>">
                  <%= focus_area_group.name %>
                  <%= link_to_video_tutorial(focus_area_group.video_tutorial) %>
                </a>
              </h4>
            </div>
            <div id="collapsable-focus-area-group-<%= focus_area_group.id %>" class="panel-collapse collapse <%= "show" if focus_area_group == @focus_areas_groups.first %> ">
              <% focus_area_group.focus_areas.order(:position).each do |focus_area| %>
                <div class="box-body">
                  <h3 class="focus-area">
                    <%- if @initiative.scorecard.type == 'TransitionCard' -%>
                      <%= focus_area.name %>
                      <%= link_to_video_tutorial(focus_area.video_tutorial) %>
                    <%- else -%>
                      <a data-toggle="collapse" data-parent="#collapsable-focus-area-group-<%= focus_area_group.id %>" href="#collapsable-focus-area-<%= focus_area.id %>">
                        <%= focus_area.name %>
                        <%= link_to_video_tutorial(focus_area.video_tutorial) %>
                      </a>
                    <%- end -%>
                  </h3>
                  <% checklist_items = @grouped_checklist_items.to_a.find_all { |ci| ci.characteristic.focus_area.id == focus_area.id } %>
                  <div id="collapsable-focus-area-<%= focus_area.id %>" class="panel-collapse collapse <%= "show" if @initiative.scorecard.type == 'TransitionCard' || focus_area == focus_area_group.focus_areas.first %> ">
                    <ul class="checklist-items">
                      <% checklist_items.each do |checklist_item| %>
                        <div
                            data-controller="comments"
                            data-load-path="<%=edit_checklist_item_path(checklist_item)%>"
                            data-state-path="<%=checklist_item_path(checklist_item)%>"
                        >
                          <li>
                            <label>
                              <%= checklist_item_badge(checklist_item) %>

                              <span class="characteristic-name <%= current_comment_status_style(checklist_item) %>" data-comments-target="characteristic">
                                <%= link_to(
                                      '#characteristic_comment',
                                      class: 'characteristic-comment',
                                      data: {
                                        action: "comments#open",
                                        id: checklist_item.id,
                                        initiative_id: checklist_item.initiative_id
                                      }
                                    )  do
                                      checklist_item.characteristic.name
                                    end
                                %>
                              </span>
                              <%= link_to(
                                '#characteristic_comment',
                                class: 'characteristic-comment',
                                data: {
                                  action: "comments#open",
                                  id: checklist_item.id,
                                  initiative_id: checklist_item.initiative_id,
                                  toggle: "tooltip",
                                  placement: "top",
                                  title: "Edit comments"
                                }
                              ) do
                                safe_join([content_tag(:i, '', class: "fa fa-comments-o")])
                              end %>
                              <%= render 'checklist_item_video_tutorial', video_tutorial: checklist_item.characteristic.video_tutorial %>
                              <%= render 'checklist_item_description', checklist_item: checklist_item %>
                            </label>

                            <div data-comments-target="form"></div>
                          </li>
                        </div>
                      <%- end -%>
                    </ul>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
