<% content_for :page_actions do %>
  <%=
    if policy(Initiative).create?
      create_new_button(new_initiative_path)
    end
  %>
  <%=
    link_to(
      initiatives_path(scope: params[:scope], format: :csv),
      class: 'btn btn-primary',
      data: {
        toggle: 'tooltip',
        title: initiative_export_button_tooltip_title(params)
      }
    ) do
      safe_join([content_tag(:i, '', class: "fa fa-download"), ' Export'])
    end
  %>
  <%=
    link_to(new_initiatives_import_path(scope: params[:scope]), class: 'btn btn-primary') do
      safe_join([content_tag(:i, '', class: "fa fa-upload"), ' Import'])
    end
  %>
<% end %>

<%- if current_account.scorecard_types.size > 1 %>
  <div id="initiatives-nav" class="nav-tabs-custom" data-initiatives-target="cardTypeTab">
    <ul class="nav nav-tabs">
      <%- current_account.scorecard_types.each do |scorecard_type| %>
        <li class="nav-item">
          <%=
            link_to(
              initiative_tab_title(scorecard_type),
              initiatives_path(scope: initiative_scope(scorecard_type)),
              class: initiative_tab_class(scorecard_type, params[:scope])
            )
          %>
        </li>
      <%- end -%>
    </ul>
  </div>
<%- end -%>

<%= render 'table' %>

