<% content_for :page_actions do %>
  <%=
    if policy(Initiative).create?
      create_new_button(new_initiative_path)
    end
  %>
  <%=
    link_to(initiatives_path(format: :csv), class: 'btn btn-primary') do
      safe_join([content_tag(:i, '', class: "fa fa-download"), ' Export'])
    end
  %>
  <%=
    link_to(new_initiatives_import_path, class: 'btn btn-primary') do
      safe_join([content_tag(:i, '', class: "fa fa-upload"), ' Import'])
    end
  %>
<% end %>

<div class="box box-solid">
  <div class='box-body no-padding'>
  <%= table_for @initiatives, :table_html => { :class => "table table-striped table-base" },
                        :sortable => true,
                        :data_row_html => {
                          id: lambda { |initiative| "initiative-#{initiative.id}" },
                          class: 'table-actions'
                        } do |table| %>
    <% table.column :name, link: true, formatter: lambda { |text| truncate_text(text, 60) } %>
    <% table.column :description, formatter: lambda { |text| truncate_text(text, 60) } %>
    <%
      table.column :scorecard_name,
        header: "Card",
        sortable: false,
        formatter: lambda { |text| truncate_text(text, 30) }
    %>
    <% table.column data: "Modify", link_action: :edit %>
    <% table.column data: "Delete", link_method: :delete, link_confirm: "Are you sure?" %>
    <% table.footer do %>
      <div class="float-right">
        <%= paginate @initiatives %>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
