<%= render 'labels/stylesheet', labels: @subsystem_tags %>
<div class="mx-auto max-w-6xl">

  <div class="flex flex-wrap items-end justify-between gap-4">
    <div class="w-full">
      <h1 class="text-2xl/8 font-semibold text-zinc-950 sm:text-xl/8 dark:text-white">Initiative Details</h1>

      <div class="flex justify-between items-start mt-4">
        <div class="flex gap-6 py-6">
        <%= render partial: 'resource_summary', locals: { name: @initiative.name, background_color: 'bg-sky-600' } %>
          <div class="space-y-1.5">
            <div class="text-base/6 font-semibold dark:text-white">
              <%= @initiative.name %>
            </div>
            <div class="text-xs/6 text-zinc-600">
              <%= @initiative.scorecard&.name.presence || 'MISSING' %>
            </div>

            <%- if @initiative.subsystem_tags.present? %>
              <div class="flex space-x-4">
                <%- @initiative.subsystem_tags.each do |subsystem_tag| %>
                  <%= render 'label_badge', label: subsystem_tag %>
                <%- end %>
              </div>
            <%- end %>
          </div>
        </div>
        <div class="relative">
          <div class="flex justify-end items-start mb-4">
            <%= link_to_primary 'Edit', edit_initiative_path(@initiative), class: 'inline-flex items-start px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>
          </div>
        </div>
      </div>
    </div>


    <div class="mx-auto max-w-6xl w-full">
      <div class="mt-1 border-t border-gray-100">
        <dl class="grid grid-cols-1 gap-y-6 px-4 py-6 w-full">
          <div class="flex items-start space-x-4">
            <dt class="text-sm/6 font-medium text-gray-900 min-w-48">Description</dt>
            <dd class="text-sm/6 text-gray-700"><%= @initiative.description %></dd>
          </div>
          <div class="flex items-start space-x-4">
            <dt class="text-sm/6 font-medium text-gray-900 min-w-48">Contact Details</dt>
            <dd class="text-sm/6 text-gray-700 sm:col-span-2 sm:mt-0">
              <dl class="grid grid-cols-1 sm:grid-cols-2">
                <div class="pb-6 sm:col-span-1 sm:px-0">
                  <dt class="text-sm/6 font-medium text-gray-900">Contact name</dt>
                  <dd class="mt-1 text-sm/6 text-gray-700 sm:mt-2"><%= @initiative.contact_name %></dd>
                </div>
                <div class="px-4 pb-6 sm:col-span-1 sm:px-0">
                  <dt class="text-sm/6 font-medium text-gray-900">Contact email</dt>
                  <dd class="mt-1 text-sm/6 text-gray-700 sm:mt-2"><%= mail_to_contact_email(@initiative) %></dd>
                </div>
                <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0">
                  <dt class="text-sm/6 font-medium text-gray-900">Contact website</dt>
                  <dd class="mt-1 text-sm/6 text-gray-700 sm:mt-2"><%= link_to_external_url(@initiative.contact_website) %></dd>
                </div>
                <div class="border-t border-gray-100 px-4 py-6 sm:col-span-1 sm:px-0">
                  <dt class="text-sm/6 font-medium text-gray-900">Contact position</dt>
                  <dd class="mt-1 text-sm/6 text-gray-700 sm:mt-2"><%= @initiative.contact_position %></dd>
                </div>
              </dl>
            </dd>
          </div>
          <div class="flex items-start space-x-4">
            <dt class="text-sm/6 font-medium text-gray-900 min-w-48">Applicable Date Range</dt>
            <dd class="text-sm/6 text-gray-700"><%= applicable_date_range(@initiative) %></dd>
          </div>

          <div class="flex items-start space-x-4">
            <dt class="text-sm/6 font-medium text-gray-900 min-w-48">Stakeholders</dt>
            <dd class="mt-2 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
              <ul role="list" class="divide-y divide-gray-100 rounded-md border border-gray-200">
                <%- @initiative.organisations.each do |stakeholder| %>
                <li class="flex items-start justify-between py-4 pl-4 pr-5 text-sm/6">
                  <div class="flex w-0 flex-1 items-start">
                    <%= stakeholder.name %>
                  </div>
                  <div class="ml-4 shrink-0">
                    <%= link_to 'View', organisation_path(stakeholder), class: 'font-medium text-indigo-600 hover:text-indigo-500' %>
                  </div>
                </li>
                <% end %>
              </ul>
            </dd>
          </div>
        </dl>
      </div>
    </div>

  </div>
</div>
