<div class="flex justify-between items-center mb-4">

  <%= form_with url: impact_card_stakeholder_network_index_path(impact_card), method: :get, data: { grid_target: 'filterForm' } do |form| %>
    <div class="flex space-x-4">
      <div class="pt-2 flex justify-center items-center"><span class="text-sm font-medium text-gray-900 dark:text-white">Filter by:</span></div>
      <div>
        <%= form.label :stakeholders, class: "block text-sm font-medium text-gray-700 dark:text-gray-300 sr-only" %>
        <%=
          form.multi_select(
            :stakeholders,
            options_for_select(@stakeholders.pluck(:name), @selected_stakeholders.pluck(:name)),
            { placeholder: 'Select stakeholders...' },
            { include_hidden: false, hide_icons: true, data: { thematic_map_target: "stakeholders" } }
          )
        %>
      </div>
      <div>
        <%= form.label :initiatives, class: "block text-sm font-medium text-gray-700 dark:text-gray-300 sr-only" %>
        <%=
          form.multi_select(
            :initiatives,
            options_for_select(@initiatives.pluck(:name), @selected_initiatives.pluck(:name)),
            { placeholder: 'Select initiatives...' },
            { include_hidden: false, hide_icons: true, data: { thematic_map_target: "initiatives" } }
          )
        %>
      </div>

    </div>
  <% end %>
  <div>
    <button
      type="button"
      role="menuitem"
      aria-haspopup="menu"
      aria-expanded="false"
      data-state="closed"
      class="'relative isolate inline-flex items-center justify-center gap-x-2 rounded-lg border border-zinc-500 text-sm font-semibold rounded-md bg-zinc-950 dark:bg-zinc-600 px-3 py-1 font-semibold text-white shadow-sm hover:bg-zinc-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-500"
      data-thematic-map-target="toggleLabelsButton"
    >
      Labels
    </button>
    <%= render 'theme_controls' if local_assigns[:theme_controls_visible] %>
  </div>
</div>

<div data-thematic-map-target="graph" class="sr-only">
  <div class="nodes">
    <%- @graph.nodes.each do |node| %>
      <div
        class="node"
        data-id="<%= node[:id] %>"
        data-label="<%= node[:label] %>"
        data-color="<%= node[:color] %>"
        data-characteristic-id="<%= node[:characteristic_id] %>"
        data-stakeholders="<%= node[:stakeholders] %>"
        data-initiatives="<%= node[:initiatives] %>"
        data-size="<%= node[:size] %>"
      >
        <div class="description">
          <%== node[:description] %>
        </div>
      </div>
    <%- end %>
  </div>
  <div class="links">
    <%- @graph.links.each do |link| %>
      <div
        class="link"
        data-id="<%= link[:id] %>"
        data-target="<%= link[:target] %>"
        data-source="<%= link[:source] %>"
      ></div>
    <%- end %>
  </div>
</div>

<%= render 'graph_dialog', data_controller: 'thematic-map' %>

<div class="min-h-screen" data-thematic-map-target="map"></div>
