<%= simple_form_for(@wicked_problem) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :account, collection: policy_scope(Account), label_method: :name, value_method: :id %>
    <%= f.input :name %>
    <%= f.input :description , as: :text, input_html: { class: 'textarea' } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
