<%= simple_form_for(@wicked_problem, role: 'form', html: { class: 'form-horizontal record-form' }) do |f| %>
  <%= f.error_notification %>
  <%= form_header(@wicked_problem) %></h3>
  <%= f.input :name %>
  <%= f.input :description , as: :text, input_html: { class: 'textarea' } %>
  <%= render_form_button(f) %>
<% end %>
