<div class="flex justify-between items-center mb-4">

  <%= form_with url: impact_card_stakeholder_network_index_path(impact_card), method: :get, data: { grid_target: 'filterForm' } do |form| %>
    <div class="flex space-x-4">
      <div class="pt-2 flex justify-center items-center"><span class="text-sm font-medium text-gray-900 dark:text-white">Filter by:</span></div>
      <div>
        <%= form.label :stakeholder_types, class: "block text-sm font-medium text-gray-700 dark:text-gray-300 sr-only" %>
        <%=
          form.multi_select(
            :stakeholder_types,
            multi_select_options_for_labels(@stakeholder_types, @selected_stakeholder_types),
            { placeholder: 'Select stakeholder types...' },
            { include_hidden: false, data: { stakeholder_network_target: "stakeholderTypes" } }
          )
        %>
      </div>
    </div>
  <% end %>
  <div>
    <button
      type="button"
      role="menuitem"
      aria-haspopup="menu"
      aria-expanded="false"
      data-state="closed"
      class="'relative isolate inline-flex items-center justify-center gap-x-2 rounded-lg border border-zinc-500 text-sm font-semibold rounded-md bg-zinc-950 dark:bg-zinc-600 px-3 py-1 font-semibold text-white shadow-sm hover:bg-zinc-400 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-zinc-500"
      data-stakeholder-network-target="toggleLabelsButton"
    >
      Labels
    </button>
    <%= render 'theme_controls' if local_assigns[:theme_controls_visible] %>
  </div>
</div>

<div data-stakeholder-network-target="graph">
  <div class="nodes">
    <%- @graph.nodes.each do |node| %>
      <div
        class="node"
        data-id="<%= node[:id] %>"
        data-label="<%= node[:label] %>"
        data-color="<%= node[:color] %>"
        data-betweenness="<%= node[:betweenness] %>"
        data-stakeholder-type="<%= node[:stakeholder_type] %>"
        data-partnering-initiatives="<%= node[:partnering_initiatives].join(',') %>"
      ></div>
    <%- end %>
  </div>
  <div class="links">
    <%- @graph.links.each do |link| %>
      <div
        class="link"
        data-id="<%= link[:id] %>"
        data-target="<%= link[:target] %>"
        data-source="<%= link[:source] %>"
        data-strength="<%= link[:strength] %>"
      ></div>
    <%- end %>
  </div>
</div>

<%= render 'graph_dialog', data_controller: 'stakeholder-network' %>

<div class="min-h-screen" data-stakeholder-network-target="map"></div>
