<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
  
  <div class="p-3">
    <h2 class="sidebar-header">MENU</h2>
    <ul class="sidebar-menu">
      <%= menu_item_tag(:sectors, 'sectors') %>
      <%= menu_item_tag(:focus_area_groups, 'focus_area_groups') %>
      <%= menu_item_tag(:focus_areas, 'focus_area_groups') %>
      <%= menu_item_tag(:characteristics, 'focus_area_groups') %>
      <%= menu_item_tag(:system_users, 'user-plus', { controller: 'system/users' }) %>
    </ul>
  </div>
</aside>

<div class="control-sidebar-bg"></div>
