<aside class="main-sidebar">
  <section class="sidebar">

    <%- if user_signed_in? && current_user.admin? || current_user.accounts.count > 1 %>
    <div class="user-panel" style='height:70px'>
      <div class="xpull-left ixnfo">
        <%= account_selector %>
      </div>
    </div>
    <%- end %>  
    
    <%= form_tag search_results_path, class: 'sidebar-form', method: :get do %>
      <div class="input-group">
        <%= text_field_tag :query, nil, class: 'form-control', placeholder: 'Search...' %>
        <span class="input-group-btn">
          <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
          </button>
        </span>
      </div>
    <% end %>

    <ul class="sidebar-menu">
      <li class="header">MENU</li>
      <%- disabled = controller.current_account.nil? %>
      <%= menu_item_tag(:dashboard, 'dashboard') %>
      <%= menu_item_tag(:scorecards, 'check-square-o', { disabled: disabled }) %>
      <%= menu_item_tag(:wicked_problems, 'cubes', { disabled: disabled }) %>
      <%= menu_item_tag(:communities, 'group', { disabled: disabled }) %>
      <%= menu_item_tag(:initiatives, 'lightbulb-o', { disabled: disabled }) %>
      <%= menu_item_tag(:organisations, 'sitemap', { disabled: disabled }) %>
      <%= menu_item_tag(:reports, 'pie-chart', { disabled: disabled }) %>
      <%= menu_item_tag(:activity, 'history', { controller: :activities }) %>
      <%- if policy(:sidebar).show_users_link? %> 
        <%= menu_item_tag(:users, 'user-plus', { disabled: disabled }) %>
      <%- end %>  
      <%- if policy(:sidebar).show_accounts_link? %>
        <%= menu_item_tag(:accounts, 'user-plus', { disabled: disabled }) %>
      <%- end %>  
      <%= menu_item_tag(:tutorials, 'youtube-play', { controller: :video_tutorials }) %>
    </ul>
  </section>
</aside>