<%= form.nested_fields_for :accounts_users do |au| %>
  <div class="box box-warning">
    <div class="box-header with-border">
      <h3 class="box-title">Accounts</h3>
      <div class="box-tools float-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse">
          <i class="fa fa-minus"></i>
        </button>
        <%= au.remove_nested_fields_link do %>
          <button type="button" class="btn btn-box-tool"><i class="fa fa-remove"></i></button>
        <% end %>
      </div>
    </div>   
    <div class="box-body">  
      <div class="row">
        <div class="col-md-6">
          <%= au.input :account_id, collection: lookup_accounts, label: false %>
          <%= au.input :account_role, collection: lookup_account_roles, label: false %>
        </div>  
        <div class="col-md-1">
          <%= link_to "New Account", new_account_path, remote: true, class: "btn btn-warning organisation-link" %>
        </div>
    </div>
  </div>
<% end %>
<%= form.add_nested_fields_link :accounts_users %>
