<div class="mx-auto max-w-6xl">
  <%= form_for(workspace, html: { role: 'form' }) do |form| %>
    <%= render 'form_header', record: workspace %>
    <%= render 'form_body' do %>
      <%= render 'section', first_section: true do %>
        <%= render 'section_header', title: 'Overview', subtitle: 'General settings for this workspace.' %>
        <%= render 'section_body' do %>
          <div class="sm:col-span-4">
            <%= form.label :name %>
            <div class="mt-2">
              <%=
                form.text_field(:name, placeholder: 'Workspace name', autofocus: true, required: true)
              %>
            </div>
          </div>

          <div class="sm:col-span-4">
            <%= form.label :description  %>
            <div class="mt-2">
              <%= form.text_area :description %>
            </div>
          </div>

        <% end %>
      <% end %>

      <%= render 'section' do %>
        <%= render 'section_header', title: 'Status', subtitle: 'Activation and expiration settings for this workspace.' %>
        <%= render 'section_body' do %>
          <% if policy(@workspace).update_protected_attributes? %>
            <div class="sm:col-span-4">
              <%= form.label :deactivated %>
              <div class="mt-2">
                <%= form.checkbox :deactivated %>
              </div>
            </div>

            <div class="sm:col-span-4">
              <%= form.label :expires_on %>
              <div class="mt-2">
                <%= form.date_field :expires_on %>
              </div>
            </div>

            <div class="sm:col-span-4">
              <%= form.label :expiry_warning_sent_on %>
              <div class="mt-2">
                <%= form.date_field :expiry_warning_sent_on, readonly: true, disabled: true, class: 'bg-slate-200 dark:bg-slate-600' %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <%= render 'section' do %>
        <%= render 'section_header', title: 'Restrictions', subtitle: 'Limits to number of team members and impact cards' %>
        <%= render 'section_body' do %>
          <% if policy(@workspace).update_protected_attributes? %>
            <div class="sm:col-span-4">
              <%= form.label :max_users, "Max team members" %>
              <div class="mt-2">
                <%= form.number_field :max_users, min: 0 %>
              </div>
              <p class="text-sm/6 text-gray-600">Set to zero (0) to indicate unlimited team members.</p>
            </div>

            <div class="sm:col-span-4">
              <%= form.label :max_scorecards, 'Max impact cards' %>
              <div class="mt-2">
                <%= form.number_field :max_scorecards, min: 0 %>
              </div>
              <p class="text-sm/6 text-gray-600">Set to zero (0) to indicate unlimited impact cards.</p>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <%= render 'section' do %>
        <%= render 'section_header', title: 'Other Settings' %>
        <%= render 'section_body' do %>
          <div class="sm:col-span-4">
            <%= form.label :classic_grid_mode %>
            <div class="mt-2">
              <%= form.checkbox :classic_grid_mode %>
            </div>
          </div>
        <% end %>
      <% end %>
      <%= render 'form_buttons', form:, cancel_path: workspace.persisted? ? workspace_path(workspace) : workspaces_path %>
    <% end %>
  <% end %>
</div>
