<div class="tab-pane" id="details-tab">
  <div class="p-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Action</th>
          <th>Activity</th>
          <th>Occurred at</th>
          <th>Initiative</th>
          <th>Characteristic</th>
          <th>From</th>
          <th>To</th>
          <th>Comment</th>
        </tr>
      </thead>
      <tbody>
        <% activities.each do |activity| %>
          <tr>
            <td><%= activity.action&.humanize %></td>
            <td><%= activity.activity&.humanize %></td>
            <td data-toggle="tooltip" title="<%= activity.occurred_at %>"><%= activity_occurred_at(activity) %></td>
            <td><%= activity.initiative_name.presence %></td>
            <td><%= activity.characteristic_name.presence %></td>
            <td><%= activity.from_value&.humanize %></td>
            <td><%= activity.to_value&.humanize.presence %></td>
            <td><%= activity.comment %></td>
          </tr>
        <%- end %>
      </tbody>
    </table>
</div>
