

<li>
  <%= turbo_frame_tag dom_id(label) do %>
    <div class="flex items-center justify-between py-4 border-b border-zinc-950/10 dark:border-white/10">
      <div class="flex items-center gap-6 w-1/3">
        <div class="flex-shrink-0 rounded-lg flex items-center justify-center <%= dom_id(label) %>">
          <p class="p-2 text-sm"><%= highlight(label.name, params.dig(:q, :name_or_description_cont)) %></p>
        </div>
      </div>

      <div class="flex flex-col space-y-1.5 w-2/3">
        <div class="text-sm text-zinc-500">
          <%= highlight(label.description, params.dig(:q, :name_or_description_cont)) %>
        </div>
      </div>

      <div class="flex items-center gap-4 ml-auto">
        <%= link_to "Edit", edit_polymorphic_path(label), class: "text-sm text-blue-500 hover:underline" %>
        <%= link_to "Delete", polymorphic_path(label), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"},  class: "text-sm text-red-500 hover:underline" %>
      </div>
    </div>
  <% end %>
</li>
