<%- if role_in_current_account(current_user) == 'admin' %>
  <%= render 'limited_functionality' %>
<% else %>
  <%= render 'expiry_warning' %>
<% end %>
<div class="mx-auto max-w-6xl" data-controller="labels">
  <div class="flex flex-wrap items-end justify-between gap-4">
    <div class="w-full">
      <h1 class="text-2xl/8 font-semibold text-zinc-950 sm:text-xl/8 dark:text-white"><%= label_class_human_title(label_klass) %></h1>
      <div class="flex justify-between items-center mt-4 ">
        <%= render partial: 'search_form', locals: { record: [:labels, @q], placeholder: label_class_search_placeholder(label_klass) } %>
        <div class="relative print:hidden">
          <div class="flex justify-end items-center mb-4 space-x-2">         
            <%=
              link_to_primary("Export", polymorphic_path([:labels, label_klass], format: :csv), data: { turbo_stream: false })
            %>
            <%- if policy(label_klass).create? %>
              <%=
                link_to_primary(label_class_button_name(label_klass), new_polymorphic_path([:labels, label_klass]), data: { turbo_stream: true, action: 'click->labels#toggle' })
              %>
            <%- end %>
          </div>
        </div>
      </div>
    </div>

    <%= turbo_frame_tag :new_label_form, class: 'w-full' %>
    <%= turbo_frame_tag :stylesheet do %>
      <%= render 'labels/stylesheet', labels: @all_labels %>
    <% end %>

    <ul class="w-full divide-y divide-gray-200 dark:divide-gray-700">
      <%= turbo_frame_tag :list do %>
        <%= render partial: 'labels/label', collection: @labels %>
        <%= render partial: 'pagination' %>
      <% end %>
    </ul>
  </div>
</div>

