<div class="mx-auto max-w-6xl" data-controller="labels">
  <!-- Header -->
  <div class="flex items-center justify-between border-b border-gray-200 pb-4 mb-4 dark:border-gray-700">
    <%= render partial: 'search_form', locals: { record: [:labels, @q], placeholder: 'Filter...' } %>
    <%=
      link_to_primary('New', new_polymorphic_path([:labels, label_klass]), data: { turbo_stream: true, action: 'click->labels#toggle' })
    %>
  </div>

  <%= turbo_frame_tag :new_label_form %>

  <ul class="w-full divide-y divide-gray-200 dark:divide-gray-700">
    <%= turbo_frame_tag :list do %>
      <%= render 'labels/stylesheet' %>
      <%= render partial: 'labels/label', collection: @labels %>
      <%= render partial: 'pagination' %>
    <% end %>
  </ul>
</div>

