<%= simple_form_for(@organisation, role: 'form') do |f| %>
  <%= f.error_notification %>
  <div class='box box-primary'>
    <div class='box-header with-border'>
      <h3 class='box-title'><%= form_title(@organisation) %></h3>
    </div>
    <div class='box-body'>
      <%= f.input :name %>
      <%= f.input :description , as: :text, input_html: { class: 'textarea' } %>
      <%= f.input :sector, collection: Sector.all %>
      <%= f.input :weblink %>
    </div>  
    <div class='box-footer'>
      <%= f.button :submit, inpuclass: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
