<div class="mx-auto max-w-6xl">
  <%= form_for(organisation, html: { role: 'form' }, data: { turbo: false }) do |form| %>
    <%= render 'form_header', record: organisation %>
    <%= render 'form_body' do %>
      <%= render 'section', first_section: true do %>
        <%= render 'section_header', title: 'Overview', subtitle: 'General settings this stakeholder.' %>
        <%= render 'section_body' do %>
          <div class="sm:col-span-4">
            <%= form.label :name %>
            <div class="mt-2">
              <%= form.text_field(:name, placeholder: 'Stakeholder name', autofocus: true, required: true) %>
            </div>
          </div>

          <div class="col-span-full">
            <%= form.label :description %>
            <div class="mt-2">
              <%= form.text_area :description, rows: 3, placeholder: '' %>
            </div>
            <p class="text-sm/6 text-gray-600 dark:text-gray-400">A brief description of the stakeholder (optional).</p>
          </div>
        <% end %>
      <% end %>

      <%= render 'section' do %>
        <%= render 'section_header', title: 'Stakeholder Type', subtitle: 'Select a category for the stakeholder.' %>
        <%= render 'section_body' do %>
          <div class="sm:col-span-4">
            <%= form.label :stakeholder_type_id %>
            <div class="mt-2">
              <%= form.collection_select :stakeholder_type_id, current_account.stakeholder_types.order(:name), :id, :name, {} %>
            </div>
          </div>
        <% end %>
      <% end %>

      <%= render 'section' do %>
        <%= render 'section_header', title: 'Contact details', subtitle: '(optional)' %>
         <%= render 'section_body' do %>
          <div class="sm:col-span-4">
            <%= form.label :weblink %>
            <div class="mt-2">
              <%= form.text_field(:weblink, placeholder: 'Website URL', autofocus: true) %>
            </div>
          </div>
        <% end %>
      <% end %>
      <%= render 'form_buttons', form:, cancel_path: organisation.persisted? ? organisation_path(organisation) : organisations_path %>
    <% end %>
  <% end %>
</div>
