<div id="organisation-modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Organisation</h4>
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      </div>
      <%= simple_form_for @organisation, :remote => true, :format => :js, html: { class: 'form-horizontal' } do |f| %>
      <span id="error-messages"></span>
      <div class="modal-body">
        <%= f.input :name %>
        <%= f.input :description , as: :text, input_html: { class: 'textarea' } %>
        <%= f.input :stakeholder_type_id, collection: current_account.stakeholder_types.order(:name), inline_label: 'Stakeholder Type', required: true %>
        <%= f.input :weblink %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <%= f.submit class: 'btn btn-secondary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>

