<%= render 'labels/stylesheet', labels: @stakeholder_types %>
<div class="mx-auto max-w-6xl">
  <div class="flex flex-wrap items-end justify-between gap-4">
    <div class="w-full">
      <%= page_header_tag 'Stakeholders' %>
      <div class="flex justify-between items-center mt-4 ">
        <%= render partial: 'search_form', locals: { record: @q, placeholder: 'Search stakeholders...' } %>
        <div>
          <%= link_to_primary 'Create stakeholder', new_organisation_path %>
        </div>
      </div>
    </div>
    <ul class="w-full divide-y divide-gray-200 dark:divide-gray-700">
      <%= turbo_frame_tag :list do %>
        <%= render @organisations %>
        <%= render partial: 'pagination' %>
      <% end %>
    </ul>
  </div>
</div>
