<% content_for :page_actions do %>
  <%= create_new_button(new_organisation_path) %>
  <%=
    link_to(organisations_path(format: :csv), class: 'btn btn-primary') do
      safe_join([content_tag(:i, '', class: "fa fa-download"), ' Export'])
    end
  %>
  <%=
    link_to(new_organisations_import_path, class: 'btn btn-primary') do
      safe_join([content_tag(:i, '', class: "fa fa-upload"), ' Import'])
    end
  %>
<% end %>

<div class="box box-solid">
  <div class='box-body no-padding'>
  <%= table_for @organisations, :table_html => { :class => "table table-striped table-organisation" },
                        :sortable => true,
                        :data_row_html => {
                          id: lambda { |organisation| "organisation-#{organisation.id}" },
                          class: 'table-actions'
                        } do |table| %>
    <% table.column :name, link: true, formatter: lambda { |text| truncate_text(text, 100) } %> %>
    <% table.column :description, formatter: lambda { |text| truncate_text(text, 30) } %>
    <% table.column :stakeholder_type_name, header: 'Stakeholder Type', sortable: false %>
    <% table.column data: "Modify", link_action: :edit %>
    <% table.column data: "Delete", link_method: :delete, link_confirm: "Are you sure?" %>
    <% table.footer do %>
      <div class="float-right">
        <%= paginate @organisations %>
      </div>
    <% end %>
  <% end %>
  </div>
</div>
