<%= render 'labels/stylesheet', labels: @stakeholder_types %>

<div class="mx-auto max-w-6xl">
  <div class="flex flex-wrap items-end justify-between gap-4">
    <div class="w-full">
      <%= page_header_tag 'Stakeholder Details' %>
      <div class="flex justify-between items-center mt-4">
        <div class="flex gap-6 py-6">
        <%= render partial: 'resource_summary', locals: { name: @organisation.name, background_color: 'bg-teal-500' } %>
          <div class="space-y-1.5">
            <div class="text-base/6 font-semibold dark:text-white">
              <%= @organisation.name %>
            </div>
            <div class="text-xs/6 text-zinc-500 min-h-4">
              <%= @organisation.description %>
            </div>
            <%- if @organisation.stakeholder_type.present? %>
              <div class="flex space-x-4">
                <%= render 'label_badge', label: @organisation.stakeholder_type %>
              </div>
            <%- end %>
          </div>
        </div>
        <div class="relative">
          <div class="flex justify-end items-center mb-4">
            <%= link_to_primary 'Edit', edit_organisation_path(@organisation), class: 'inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr role="presentation" class="my-10 mt-6 w-full border-t border-zinc-950/10 dark:border-white/10">
  <%= render 'section' do %>
    <%= render 'section_header', title: 'Contact Details' %>
      <%= render 'section_body' do %>
      <div class="sm:col-span-4">
        <%= label_tag :weblink %>
        <div class="mt-2">
          <%= link_to_external_url(@organisation.weblink) %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
