<div class="tab-pane" id="details-tab">
  <div class="p-3">
    <%= simple_form_for(@scorecard, role: 'form', html: { class: 'form-horizontal' } ) do |f| %>
      <%= f.error_notification %>
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.association :wicked_problem, collection: policy_scope(WickedProblem), required: true %>
      <%= f.association :community, collection: policy_scope(Community), required: true %>
      <%- if policy(@scorecard).link_scorecards? %>
        <%= f.association :linked_scorecard, collection: collection_for_linked_scorecard(@scorecard), required: false %>
      <%- end %>
      <%= f.input :notes, as: :rich_text_area %>
      <div class="d-flex justify-content-end">
        <%- if policy(@scorecard).update? %>
          <%= f.button :submit, class: 'btn btn-primary mr-1' %>
        <%- end %>
        <%- if policy(@scorecard).destroy? %>
          <%= link_to "Delete #{Scorecard.model_name.human}",
            transition_card_path(@scorecard),
            class: 'btn btn-danger',
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
        <%- end %>
      </div>
    <% end %>
  </div>
</div>
