<%= simple_form_for(@sector, role: 'form', html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>
  <div class='box box-primary'>
    <div class='box-header with-border'>
      <h3 class='box-title'><%= form_title(@sector) %></h3>
    </div>
    <div class='box-body'>
      <%= f.input :name %>
      <%= f.input :description , as: :string %>
    </div>
    <div class='box-footer'>
      <%= f.button :submit, class: 'btn btn-primary pull-right' %>
    </div>
  </div>
<% end %>