<%= fields_for "initiative[initiatives_organisations_attributes][#{turbo_id_for(initiatives_organisation)}]", initiatives_organisation do |initiatives_organisation_form| %>
  <fieldset class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2" id="<%= turbo_id_for(initiatives_organisation) %>">
    <div class="sm:col-span-6">
      <%= initiatives_organisation_form.label :organisation_id %>
      <div class="mt-2">
        <%= initiatives_organisation_form.collection_select :organisation_id,  policy_scope(Organisation), :id, :name, { include_blank: 'Select an organisation' }, class: 'block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm/6' %>
      </div>
    </div>
    <%= button_tag "Delete", formaction: initiatives_organisation_path(turbo_id_for(initiatives_organisation)), formmethod: :delete, class: "mt-4 float-right p-2 rounded-md bg-red-300 hover:bg-red-400" %>
  </fieldset>
<% end %>
