<p id="notice"><%= notice %></p>

<h1>Initiatives Organisations</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @initiatives_organisations.each do |initiatives_organisation| %>
      <tr>
        <td><%= link_to 'Show', initiatives_organisation %></td>
        <td><%= link_to 'Edit', edit_initiatives_organisation_path(initiatives_organisation) %></td>
        <td><%= link_to 'Destroy', initiatives_organisation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Initiatives Organisation', new_initiatives_organisation_path %>
