<div class="mx-auto max-w-6xl">
  <%= form_for(user, html: { role: 'form' }, data: { turbo: false }) do |form| %>
    <%= render 'form_header', record: user %>
    <%= render 'form_body' do %>
      <%= render 'section', first_section: true do %>
        <%= render 'section_header', title: 'Overview', subtitle: 'General settings for this team member.' %>
        <%= render 'section_body' do %>
          <div class="sm:col-span-4">
            <%= form.label :name %>
            <div class="mt-2">
              <%=
                form.text_field(:name, placeholder: 'User name', autofocus: true, required: true)
              %>
            </div>
          </div>

          <div class="sm:col-span-4">
            <%= form.label :email, 'Email' %>
            <div class="mt-2">
              <%= form.text_field :email, disabled: true, read_only: true, class: 'bg-slate-200 dark:bg-slate-600' %>
              <div class="h-2 mt-2 mb-4 text-xs text-gray-600 dark:text-gray-400">
                Note: Email address is read-only. If a change is required, please contact a system administrator.
              <div>
            </div>
          </div>
        <% end %>
      <% end %>

      <%= render 'section' do %>
        <%= render 'section_header', title: 'Other Settings', subtitle: 'Set the time zone for this team member.' %>
        <%= render 'section_body' do %>
          <div class="sm:col-span-4">
            <%= form.label :time_zone %>
            <div class="mt-2">
              <%= form.select :time_zone, options_for_timezone_select %>
            </div>
          </div>
        <% end %>
      <% end %>

      <%- if policy(user).change_workspace_role? || policy(User).invite_with_system_role? %>
        <%= render 'section' do %>
          <%= render 'section_header', title: 'Role', subtitle: 'Access levels for this team member.' %>
          <%= render 'section_body' do %>
            <%- if policy(User).invite_with_system_role? %>
              <div class="sm:col-span-4">
                <%= form.label :system_role %>
                <div class="mt-2">
                  <%=
                    form.select(
                      :system_role, 
                      options_for_select(
                        User.system_roles.keys.map { |key| [key.capitalize, key]}, 
                        user.system_role
                      )
                    ) 
                  %>
                </div>
              </div>
            <%- end %>

            <%- if policy(user).change_workspace_role? %>
              <div class="sm:col-span-4">
                <%= form.label :workspace_role %>
                <div class="mt-2">
                  <%= 
                    form.select(
                      :workspace_role, 
                      options_for_select(
                        WorkspacesUser.workspace_roles.keys.map { |key| [key.capitalize, key]}, 
                        role_in_current_workspace(user)
                      )
                    ) 
                  %>
                </div>
              <%- end %>
            </div>
          <% end %>
        <% end %>
      <% end %>

      <%- if policy(user).change_password? %>
        <%= render 'section' do %>
          <%= render 'section_header', title: 'Change Password', subtitle: 'Optional. Leave blank if no change required.' %>
          <%= render 'section_body' do %>
            <div class="sm:col-span-4">
              <%= form.label :password %>
              <div class="mt-2">
                <%= form.password_field(:password, placeholder: "Password", autocomplete: 'off') %>
              </div>
            </div>

            <div class="sm:col-span-4">
              <%= form.label :password %>
              <div class="mt-2">
                <%= form.password_field(:password_confirmation, placeholder: "Confirm password", autocomplete: 'off') %>
              </div>
            </div>
          <% end %>
        <% end %>
      <% end %>
      <%= render 'form_buttons', form:, cancel_path: user.persisted? ? user_path(user) : users_path %>
    <% end %>
  <% end %>
</div>

