<%= simple_form_for(@user, role: 'form', html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>
  <div class='box box-primary'>
    <div class='box-header with-border'>
      <h3 class='box-title'><%= form_title(@user) %></h3>
    </div>
    <div class='box-body'>
      <%= f.input :email %>
      <%= f.input :name %>
      
      <%- if policy(User).invite_with_system_role? %>
        <%= f.input :system_role, collection: lookup_system_roles, include_blank: false %>
      <%- end %>  
      <%= f.input :account_role, collection: lookup_account_roles, include_blank: false %>
    </div>
    <div class='box-footer'>
      <%= f.button :submit, class: 'btn btn-primary pull-right' %>
    </div>
  </div>
<% end %>

