<li>
  <%= horizontal_rule %>
  <div class="flex items-center justify-between">
    <div class="flex gap-6 py-6">
      <%= render partial: 'resource_summary', locals: { name: user.display_name, background_color: 'bg-green-700' } %>
      <div class="space-y-1.5">
        <div class="text-base/6 font-semibold dark:text-white">
          <%= link_to highlight(user.display_name, params.dig(:q, :name_or_email_cont)), user_path(user), data: { turbo: false } %>
        </div>
        <div class="text-xs/6 text-zinc-500 dark:text-zinc-100">
          <%= highlight(user.email, params.dig(:q, :name_or_email_cont)) %>
        </div>
        <%= role_in_current_account_badge(user) %>
        <%= user_system_role_badge(user) %>
        <%= user_status_badge(user) %>
      </div>
    </div>
  </div>
</li>
