<div class="mx-auto max-w-6xl">
  <div class="flex flex-wrap items-end justify-between gap-4">
    <div class="w-full">
      <h1 class="text-2xl/8 font-semibold text-zinc-950 sm:text-xl/8 dark:text-white">Team</h1>
      <div class="flex justify-between items-center mt-4 ">
        <%= render partial: 'search_form', locals: { record: @q, placeholder: 'Search team...', search_field: :name_or_email_cont } %>
        <div>
          <%= link_to_primary 'Invite team member', new_user_invitation_path %>
        </div>
      </div>
    </div>
    <ul class="w-full divide-y divide-gray-200 dark:divide-gray-700">
      <%= turbo_frame_tag :list do %>
        <%= render @users %>
        <%= render partial: 'pagination' %>
      <% end %>
    </ul>
  </div>
</div>
