<%- if role_in_current_workspace(current_user) == 'admin' || @user == current_user %>
  <%= render 'limited_functionality' %>
<% else %>
  <%= render 'expiry_warning' %>
<% end %>
<div class="mx-auto max-w-6xl">
  <div class="flex flex-wrap items-end justify-between gap-4">
    <div class="w-full">
      <%= page_header_tag(@user == current_user ? 'My Profile' : 'Team Member Details') %>
      <div class="flex justify-between items-center mt-4">
        <div class="flex gap-6 py-6">
          <%= render partial: 'resource_summary', locals: { name: @user.display_name, background_color: 'bg-green-700' } %>
          <div class="space-y-1.5">
            <div class="text-base/6 font-semibold dark:text-white">
              <%= @user.display_name %>
            </div>
            <div class="text-xs/6 text-zinc-500 dark:text-zinc-100">
              <%= @user.email %>
            </div>
            <div class="flex space-x-4">
              <%= role_in_current_workspace_badge(@user) %>
              <%= user_system_role_badge(@user) %>
              <%= user_status_badge(@user) %>
            </div>
          </div>
        </div>
        <div class="relative">
          <div class="flex justify-end items-center mb-4 space-x-2">
            <%- if policy(@user).impersonate? %>
              <%= 
                button_to_primary(
                  'Impersonate', 
                  impersonate_user_path(@user), 
                  data: { turbo: false } 
                )
              %>
            <%- end %>

            <%- if @user.status == 'deleted' && policy(@user).undelete? %>
              <%= 
                link_to_primary(
                  'Undelete', 
                  undelete_user_path(@user), 
                  data: { turbo: false } 
                )
              %>
            <%- end %>

            <%- if @user.status == 'invitation-pending' && policy(@user).resend_invitation? %>
              <%=                
                link_to_primary(
                  "Resend Invitation", 
                  resend_invitation_user_path(@user), 
                  data: { turbo: false }
                )
              %>
            <%- end %>

            <%- if policy(@user).edit? %>
              <% edit_title = @user == current_user ? 'Edit Profile' : 'Edit Team Member' %>
              <%= link_to_primary edit_title, edit_user_path(@user) %>
            <%- end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= horizontal_rule(class: 'my-10 mt-6') %>
  <%= render 'show_page_section', title: 'Settings' do %>
    <%= definition_list_element('Time zone', display_time_zone(@user.time_zone)) %>
  <% end %>

  <%= render 'show_page_section', title: 'Roles' do %>
    <%= definition_list_element('System role', @user.system_role.titleize) %>
    <%= definition_list_element('Current workspace', role_in_current_workspace(@user).titleize) if role_in_current_workspace(@user).present? %>
  <% end %>
</div>
