<div class="flex min-h-screen flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="flex items-center justify-center space-x-4">
    <%= image_tag 'logo-small.png', class: 'h-14 w-auto', alt: "Logo for the 'Tool for Systemic Change'" %>
    <h2 class="text-3xl font-bold tracking-tight text-gray-900">Forgot your password?</h2>
  </div>

  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-white py-8 px-4 shadow sm:rounded-lg sm:px-10">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { class: 'space-y-6' }, data: { turbo: false }) do |f| %>
        <div>
          <%= f.label :email, class: 'block text-sm font-medium text-gray-700' %>
          <div class="mt-1">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", type: 'email', required: true, class: "block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-teal-500 focus:outline-none focus:ring-teal-500 sm:text-sm" %>
          </div>
        </div>

        <%#= recaptcha_with_nonce(action: 'reset_password_instructions') %>

        <div>
          <%= f.submit "Send me reset password instructions", class: "flex w-full justify-center rounded-md border border-transparent bg-teal-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-teal-500 focus:ring-offset-2" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
