<%= simple_form_for((@stakeholder_type.system_stakeholder_type? ? [:system, @stakeholder_type] : [@stakeholder_type]) , role: 'form', html: { class: 'form-horizontal record-form' }) do |f| %>
  <%= f.error_notification %>
  <%= form_header(@stakeholder_type) %></h3>
  <%= f.input :name %>
  <%= f.input :description , as: :string %>
  <%= f.input :color , as: :string %>
  <%- if @stakeholder_type.in_use? %>
    <%=
      content_tag(:div, class: 'd-flex justify-content-end action-row') do
        concat f.button :submit, "#{f.object.new_record? ? 'Create' : 'Update'}",  class: 'btn btn-primary', data: { confirm: 'This update will be applied to all Organisations currently tagged with this Stakeholder type, do you wish to proceed?' }
      end
    %>
  <%- else -%>
    <%= render_form_button(f) %>
  <%- end -%>
<% end %>
