<%= simple_form_for(@stakeholder_type, role: 'form', html: { class: 'form-horizontal' }) do |f| %>
  <div class='box box-primary'>
    <div class='box-header with-border'>
      <%= form_header(@stakeholder_type) %>
    </div>
    <div class='box-body'>
      <%= f.input :name, readonly: true, required: false %>
      <%= f.input :description , as: :text, input_html: { class: 'textarea' }, readonly: true %>
      <hr>
      <%= f.input :created_at, as: :string, readonly: true %>
      <%= f.input :updated_at, as: :string, readonly: true %>
    </div>
    <%- if policy(@stakeholder_type).edit? %>
      <div class='box-footer'>
        <%- if @stakeholder_type.template_type? %>
          <%= link_to 'Edit Stakeholder Type', edit_system_stakeholder_type_path(@stakeholder_type), class: 'btn btn-primary float-right' %>
        <%- else %>
          <%= link_to 'Edit Stakeholder Type', edit_stakeholder_type_path(@stakeholder_type), class: 'btn btn-primary float-right' %>
        <%- end %>
      </div>
    <%- end %>
  </div>
<% end %>
