<div class="tab-pane" id="initiatives">
  <%= form.nested_fields_for :initiatives do |i| %>
    <div class="box box-default">
      <div class="box-header with-border">
        <h3 class="box-title">Initiative</h3>

        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse">
            <i class="fa fa-minus"></i>
          </button>                      
          <%= i.remove_nested_fields_link do %>
            <button type="button" class="btn btn-box-tool"><i class="fa fa-remove"></i></button>
          <% end %>
        </div>
      </div>
      <div class="box-body">
        <%= i.input :name %>
        <%= i.input :description %>
        <%= render 'scorecards/form_tabs/organisations', form: i %>
        <%= i.input :started_at %>
        <%= i.input :finished_at %>
        <%= i.input :contact_name %>
        <%= i.input :contact_email %>
        <%= i.input :contact_website %>
        <%= i.input :contact_position %>
      </div>
    </div>
  <% end %>
  <%= form.add_nested_fields_link :initiatives %>
</div>