<footer aria-labelledby="footer-heading" class="relative">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-7xl px-6 pb-8 pt-4 lg:px-8">
    <div class="border-t border-white/10 pt-8 md:flex md:items-center md:justify-between">
      <div class="flex space-x-6 md:order-2">
        <a href="https://bsky.app/profile/eventidesystems.bsky.social" target="_blank" class="text-gray-500 hover:text-gray-400">
          <span class="sr-only">Bluesky</span>
          <%= render_icon :bluesky %>
        </a>
        <a href="https://www.linkedin.com/company/eventide-systems/" target="_blank" class="text-gray-500 hover:text-gray-400">
          <span class="sr-only">LinkedIn</span>
          <%= render_icon :linked_in %>
        </a>
        <a href="https://github.com/EventideSystems" target="_blank" class="text-gray-500 hover:text-gray-400">
          <span class="sr-only">GitHub</span>
          <%= render_icon :github %>
        </a>
      </div>
      <div class="mt-8 text-xs leading-5 text-gray-100 md:order-1 md:mt-0">
        &copy; <%=  Date.today.year %> Eventide Systems Pty Ltd. All rights reserved
        <%= landing_pages_link_to 'Privacy policy', privacy_path,  class: 'ml-6' %>
        <%= landing_pages_link_to 'Terms & conditions', terms_path, class: 'ml-6' %>
        <%= landing_pages_link_to 'Takedown policy', takedown_path, class: 'ml-6' %>
      </div>
    </div>
  </div>
</footer>