
<div class="relative isolate overflow-hidden">
  <%= render 'top_links' %>
  <div class="absolute left-[calc(50%-4rem)] top-10 -z-10 transform-gpu blur-3xl sm:left-[calc(50%-18rem)] lg:left-48 lg:top-[calc(50%-30rem)] xl:left-[calc(50%-24rem)]" aria-hidden="true">
    <div class="aspect-[1108/632] w-[69.25rem] bg-gradient-to-r from-[#80caff] to-[#4f46e5] opacity-20" style="clip-path: polygon(73.6% 51.7%, 91.7% 11.8%, 100% 46.4%, 97.4% 82.2%, 92.5% 84.9%, 75.7% 64%, 55.3% 47.5%, 46.5% 49.4%, 45% 62.9%, 50.3% 87.2%, 21.3% 64.1%, 0.1% 100%, 5.4% 51.1%, 21.4% 63.9%, 58.9% 0.2%, 73.6% 51.7%)"></div>
  </div>

  <div class="mx-auto max-w-7xl px-6 pb-16 pt-8 sm:pb-16 lg:px-8 lg:pt-40 flex flex-col">
    <div class="flex items-center gap-x-6 ml-8 mb-8">
      <%= image_tag 'logo-small.png', class: 'h-16 w-auto', alt: "Logo for the 'Tool for Systemic Change'" %>
      <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Obsekio Privacy Policy</h1>
    </div>
    <div class="text-white bg-teal-900 rounded-lg p-8 w-full">
      <h2 class="text-3x1 font-bold leading-10">Preamble</h2>
      <p class="my-4 text-gray-300">        
        We, the architects and stewards of this digital platform, recognize the fundamental rights of all users to participate 
        in online spaces that respect their privacy, dignity, and well-being. This Privacy Policy establishes the principles 
        and standards that shall govern the development and operation of our platform.
      </p>

      <p class="my-4 text-gray-300">
        Our policy is aligned with the principles of the 
        <%= landing_pages_link_to 'Digital Platform Charter of Rights', 'https://respectfulplatforms.org/', target: '_blank' %>,
        which outlines the rights and responsibilities of platform users and operators. We are committed to upholding these
        principles and fostering a safe, inclusive, and empowering digital environment.
      </p>
      <p class="my-4 text-gray-300">
        This policy is effective as of March 11, 2025.
      </p>

      <h2 class="text-3x1 font-bold leading-10">1. Data Collection</h2>
      <p class="my-4 text-gray-300">
        We collect only the data necessary to provide and improve our services. This includes:
        <ul class="list-disc list-inside mb-4">
          <li>Personal information provided by users during registration.</li>
          <li>Usage data collected through cookies and similar technologies.</li>
          <li>Communication data from interactions with our support team.</li>
        </ul>
      </p>

      <h2 class="text-3x1 font-bold leading-10">2. Data Usage</h2>
      <p class="my-4 text-gray-300">
        We use the collected data to:
        <ul class="list-disc list-inside mb-4">
          <li>Provide and personalize our services.</li>
          <li>Improve user experience and platform functionality.</li>
          <li>Communicate with users regarding updates and support.</li>
        </ul>
      </p>

      <h2 class="text-3x1 font-bold leading-10">3. Data Sharing</h2>
      <p class="my-4 text-gray-300">
        We do not share user data with third parties except:
        <ul class="list-disc list-inside mb-4">
          <li>When required by law.</li>
          <li>With trusted partners who adhere to our privacy standards.</li>
          <li>To protect the rights and safety of our users and platform.</li>
        </ul>
      </p>


      <h2 class="text-3x1 font-bold leading-10">4. User Rights</h2>
      <p class="my-4 text-gray-300">
        Users have the right to:
        <ul class="list-disc list-inside mb-4">
          <li>Access their personal data.</li>
          <li>Request correction or deletion of their data.</li>
          <li>Opt-out of data collection and processing.</li>
        </ul>
      </p>

      <h2 class="text-3x1 font-bold leading-10">5. Data Security</h2>
      <p class="my-4 text-gray-300">
        We implement robust security measures to protect user data from unauthorized access, alteration, or destruction. 
        This includes encryption, secure servers, and regular security audits.
      </p>  

      <h2 class="text-3x1 font-bold leading-10">6. Transparency and Accountability</h2>
      <p class="my-4 text-gray-300">
        We commit to transparency in our data practices and accountability for our privacy standards. Users will be informed 
        of any changes to this policy and can contact us with any concerns.
      </p>

      <h2 class="text-3x1 font-bold leading-10">7. Ethical Standards</h2>
      <p class="my-4 text-gray-300">
        Our platform is built on principles of privacy-first design, no tracking, and data portability. We pledge to uphold 
        these standards and continuously improve our practices.
      </p>

      <h2 class="text-3x1 font-bold leading-10">8. Cookies and Tracking Technologies</h2>
      <p class="my-4 text-gray-300">
        We use cookies and similar technologies to enhance user experience, analyze site usage, and improve our services. 
        A detailed <%= landing_pages_link_to 'Cookie Policy', cookie_path %> is available for users to review.
      </p>

      <h2 class="text-3x1 font-bold leading-10">9. International Data Transfers<h2> 
      <p class="my-4 text-gray-300">
        We may transfer and process user data in other countries. We ensure that adequate protection is in place, especially 
        for users in regions with strict privacy laws like the EU.
      </p>  

      <h2 class="text-3x1 font-bold leading-10">10. Updates to This Policy</h2> 
      <p class="my-4 text-gray-300">
        We reserve the right to update this policy to reflect changes in our data practices, legal requirements, or user feedback. 
        Users will be informed of any updates and can review the latest version on our platform.
      </p>

      <h2 class="text-3x1 font-bold leading-10">Contact Us</h2>
      <p class="my-4 text-gray-300">
        If you have any questions or concerns about this Privacy Policy, please contact us via the <%= landing_pages_link_to 'Privacy Contact Form', privacy_contacts_path %>.
      </p>
    </div>
  </div>
</div>
