<div class="relative isolate overflow-hidden">
  <%= render 'top_links' %>
  <div class="absolute left-[calc(50%-4rem)] top-10 -z-10 transform-gpu blur-3xl sm:left-[calc(50%-18rem)] lg:left-48 lg:top-[calc(50%-30rem)] xl:left-[calc(50%-24rem)]" aria-hidden="true">
    <div class="aspect-[1108/632] w-[69.25rem] bg-gradient-to-r from-[#80caff] to-[#4f46e5] opacity-20" style="clip-path: polygon(73.6% 51.7%, 91.7% 11.8%, 100% 46.4%, 97.4% 82.2%, 92.5% 84.9%, 75.7% 64%, 55.3% 47.5%, 46.5% 49.4%, 45% 62.9%, 50.3% 87.2%, 21.3% 64.1%, 0.1% 100%, 5.4% 51.1%, 21.4% 63.9%, 58.9% 0.2%, 73.6% 51.7%)"></div>
  </div>
  <div class="mx-auto max-w-7xl px-6 pb-16 pt-8 sm:pb-16 lg:px-8 lg:pt-40 flex flex-col">
    <div class="flex items-center gap-x-6 ml-8 mb-8">
      <%= image_tag 'logo-small.png', class: 'h-16 w-auto', alt: "Logo for the 'Tool for Systemic Change'" %>
      <h1 class="text-4xl font-bold tracking-tight text-white sm:text-6xl">Obsekio Terms and Conditions</h1>
    </div>
    <div class="text-white bg-teal-900 rounded-lg p-8 w-full">
      <h2 class="text-3x1 font-bold leading-10">Preamble</h2>
      <p class="my-4 text-gray-300">
        Welcome to our digital platform. These Terms and Conditions outline the rules and regulations for the use of 
        our platform. By accessing and using this platform, you agree to comply with these terms. If you disagree with 
        any part of these terms, please refrain from using our services.
      </p>

      <h2 class="text-3x1 font-bold leading-10">1. Use of the Platform</h2>
      <p class="my-4 text-gray-300">
        Eligibility: You must be at least 18 years old or have the consent of a legal guardian to use this platform.
      </p>
      <p class="my-4 text-gray-300">
        Account Registration: You are responsible for maintaining the confidentiality of your account information and for 
        all activities that occur under your account.
      </p>
      <p class="my-4 text-gray-300">
        Prohibited Activities: You agree not to engage in any unlawful, harmful, or disruptive activities while using our 
        platform.
      </p>

      <h2 class="text-3x1 font-bold leading-10">2. Intellectual Property Rights</h2>
      <p class="my-4 text-gray-300">
        Ownership of User Data: Users retain full ownership of any personal data and content they submit or post on the platform. You are responsible for ensuring that your content does not infringe on the intellectual property rights of others and for addressing any copyright claims that may arise from your content.
      </p>
      <p class="my-4 text-gray-300">
        Platform Content: All content created by us, including text, graphics, logos, and software, is the property of our platform or its content suppliers and is protected by intellectual property laws.
      </p>
      <p class="my-4 text-gray-300">
        License: We grant you a limited, non-exclusive, non-transferable license to access and use the platform for personal or
        commercial purposes.
      </p>

      <h2 class="text-3x1 font-bold leading-10">3. User-Generated Content</h2>
      <p class="my-4 text-gray-300">
        Responsibility: You are solely responsible for any content you submit or post on the platform. By submitting content, you grant us a non-exclusive, royalty-free license to use, reproduce, and distribute your content on your behalf.
      </p>
      <p class="my-4 text-gray-300">
        Prohibited Content: You agree not to submit any content that is illegal, offensive, or infringes on the rights of others.
      </p>

      <h2 class="text-3x1 font-bold leading-10">4. Privacy</h2>
      <p class="my-4 text-gray-300">
        Data Collection and Use: Our <%= landing_pages_link_to 'Privacy Policy', privacy_path %> outlines how we collect, use,
        and protect your personal information. By using our platform, you consent to our data practices as described in the 
        Privacy Policy.
      </p>
      <p class="my-4 text-gray-300">
        Cookies: Our platform uses cookies to enhance user experience. Please refer to our <%= landing_pages_link_to 'Privacy Policy', privacy_path %> 
        for details on how we use cookies.
      </p>

      <h2 class="text-3x1 font-bold leading-10">5. Limitation of Liability</h2>
      <p class="my-4 text-gray-300">
        No Warranties: The platform is provided on an "as-is" and "as-available" basis. We make no warranties or representations regarding the accuracy or completeness of the content on the platform.
      </p>
      <p class="my-4 text-gray-300">
        Limitation: We shall not be liable for any direct, indirect, incidental, consequential, or punitive damages arising from your use of the platform.
      </p>

      <h2 class="text-3x1 font-bold leading-10">6. Indemnification</h2>
      <p class="my-4 text-gray-300">
        You agree to indemnify and hold us harmless from any claims, liabilities, damages, losses, or expenses arising from your use of the platform or violation of these terms.
      </p>

      <h2 class="text-3x1 font-bold leading-10">7. Changes to These Terms</h2>
      <p class="my-4 text-gray-300">
        We reserve the right to update or modify these Terms and Conditions at any time. Any changes will be posted on this page, and your continued use of the platform after such changes constitutes acceptance of the revised terms.
      </p>

      <h2 class="text-3x1 font-bold leading-10">8. Governing Law</h2>
      <p class="my-4 text-gray-300">
        These Terms and Conditions shall be governed by and construed in accordance with the laws of South Australia.
      </p>

      <h2 class="text-3x1 font-bold leading-10">Contact Us</h2>
      <p class="my-4 text-gray-300">
        If you have any questions or concerns about these Terms and Conditions, please contact us via the <%= landing_pages_link_to 'Terms and Conditions Contact Form', terms_contacts_path %>.
      </p>
    </div>
  </div>
</div>