<div class="mx-auto max-w-6xl">
  <%= form_with model: @source, url: impact_card_merge_path(@source), method: :post, scope: :impact_card, data: { turbo: false }, class: 'mx-auto max-w-4xl' do |form| %>
    <%= render 'form_header', title: "Merge #{@source.name} with another impact card" %>
    <%= hidden_field_tag :source_id, @source.id %>
    <%= render 'form_body' do %>
      <%= render 'section' do %>
        <%= render 'section_header', title: 'Source', subtitle: 'The card you want to merge from.' %>
        <%= render 'section_body' do %>
          <div class="sm:col-span-4">
            <%= form.label :name %>
            <div class="mt-2">
              <%= form.text_field(:name, readonly: true) %>
            </div>
          </div>

          <div class="col-span-full">
            <%= form.label :description %>
            <div class="mt-2">
              <%= form.text_area :description, readonly: true %>
            </div>

          </div>
        <% end %>
      <% end %>

      <%= render 'section' do %>
        <%= render 'section_header', title: 'Target', subtitle: 'The card you are merging to.' %>
        <%= render 'section_body' do %>
          <div class="sm:col-span-4">
            <%= form.label :name %>
            <div class="mt-2">
              <%= custom_select_tag :target_id, options_from_collection_for_select(@targets, 'id', 'name'), prompt: 'Select an impact card', autofocus: true, required: true %>
            </div>
          </div>
        <% end %>
      <% end %>

      <%= render 'section' do %>
        <%= render 'section_header', title: 'Merge Options', subtitle: 'Specify the type of merge operation you want to perform.' %>
        <%= render 'section_body' do %>
          <div class="sm:col-span-4">
            <%= label_tag 'Merge Type', nil, class: TailwindClasses::LABEL_CLASS %>
            <div class="flex items-center space-x-2 mt-2 mb-2">
              <%=
                radio_button_tag(:merge_type, 'deep', checked: true)
              %>
              <%= form.label 'Deep merge' %>
            </div>
            <div class="flex items-center space-x-2 mb-2">
              <%=
                radio_button_tag(:merge_type, 'shallow', checked: false)
              %>
              <%= form.label 'Shallow merge' %>
            </div>
          </div>
        <% end %>
      <% end %>


      <%= render 'form_buttons', form:, cancel_path: edit_impact_card_path(@source) %>
    <% end %>
  <% end %>
