<%= render layout: "layouts/devise_page", locals: { title: "Invite Users" } do %>
  <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { class: 'space-y-6' }, data: { turbo: false }) do |f| %>

    <div>
      <%= f.label :email, class: 'block text-sm font-medium text-gray-700' %>
      <div class="mt-1">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", type: 'email', required: true, class: "block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-teal-500 focus:outline-none focus:ring-teal-500 sm:text-sm" %>
      </div>
    </div>

    <div>
      <%= f.label :name, class: 'block text-sm font-medium text-gray-700' %>
      <div class="mt-1">
        <%= f.text_field :name, autocomplete: "name", required: true, class: "block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-teal-500 focus:outline-none focus:ring-teal-500 sm:text-sm" %>
      </div>
    </div>

    <%- if policy(User).invite_with_system_role? %>
      <div>
        <%= f.label :system_role %>
        <%= f.select :system_role, options_for_select(User.system_roles.keys.map { |key| [key.capitalize, key]}, User.system_roles.keys.first) %>
      </div>
    <%- end %>

    <div>
      <%= f.label :account_role %>
      <%= f.select :account_role, options_for_select(AccountsUser.account_roles.keys.map { |key| [key.capitalize, key]}, AccountsUser.account_roles.keys.first) %>
    </div>

    <div>
      <%= f.submit  t("devise.invitations.new.submit_button"), class: "flex w-full justify-center rounded-md border border-transparent bg-teal-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-teal-500 focus:ring-offset-2" %>
    </div>
  <% end %>
<% end %>
