<%= simple_form_for resource, url: invitation_path(resource_name), role: 'form', html: { method: :post, class: 'form-horizontal' } do |f| %>
  <%= devise_error_messages! %>
  <div class='box box-primary'>
    <div class='box-header with-border'>
      <h3 class='box-title'><%= t "devise.invitations.new.header" %></h3>
    </div>
    <div class='box-body'>
      <%= f.input :email %>
      <%= f.input :name %>
      <%- if policy(User).invite_with_system_role? %>
        <%= f.input :system_role, collection: lookup_system_roles, include_blank: false %>
      <%- end %>  
      <%= f.input :account_role, collection: lookup_account_roles, include_blank: false %>
    </div>
    <div class='box-footer'>
      <%= f.button :submit, t("devise.invitations.new.submit_button"), class: "float-right" %>
    </div>
  </div>  
<% end %>
