<li>
  <%= horizontal_rule %>
  <div class="flex items-center justify-between">
    <div class="flex gap-6 py-6">
      <%= render partial: 'resource_summary', locals: { name: data_model.name, dom_id: dom_id(data_model) } %>
      <div class="space-y-1.5">
        <div class="text-base/6 font-semibold dark:text-white">
          <%= link_to highlight(data_model.name, params.dig(:q, :name_or_description_cont)), data_model_path(data_model), data: { turbo: false } %>
        </div>
        <div class="text-xs/6 text-zinc-500 min-h-4">
          <%= highlight(data_model.description, params.dig(:q, :name_or_description_cont)) %>
        </div>

        <div class="flex space-x-2">
          <%= render 'data_model_type_badge', data_model: data_model %>
          <%= render 'other_workspace_badge', data_model: data_model %>
          <%#= render 'label_badge', label: data_model.wicked_problem if data_model.wicked_problem.present? %>
        </div>

      </div>
    </div>
  </div>
</li>

