<div>
  <%= search_form_for record, { data: { turbo_frame: :list } }.merge(defined?(options) ? options : {}) do |f| %>
    <%= f.label (local_assigns[:search_field].present? ? search_field : :name_or_description_cont), 'Search', class: 'sr-only text-black dark:text-white'  %>
    <%=
      f.search_field(
        (local_assigns[:search_field].present? ? search_field : :name_or_description_cont),
        placeholder:,
        class: "form-input w-60 border border-gray-300 rounded-md px-3 py-1 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-600 dark:text-white",
        oninput: 'this.form.requestSubmit()',
        autofocus: true,
        autocomplete: 'off'
      )
    %>
    
    <span class="ml-2">
      <%= 
        f.checkbox(
          :current_workspace,
          class: "form-checkbox h-4 w-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-600",
          checked: (params[:current_workspace] == 'true') || (params[:other_workspaces].blank? && params[:public_models].blank?),
          id: 'current_workspace',
          onchange: 'this.form.requestSubmit()'
        )
      %> 
      <%= f.label :current_workspace, 'Current workspace', class: 'text-black dark:text-white' %>
    </span>

    <%- if current_user.workspaces.count > 1 %>
      <span class="ml-2">
        <%= 
          f.checkbox(
            :other_workspaces,
            class: "form-checkbox h-4 w-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-600",
            checked: params[:other_workspaces] == 'true',
            id: 'other_workspaces',
            onchange: 'this.form.requestSubmit()'
          )
        %> 
        <%= f.label :other_workspaces, 'Other workspaces', class: 'text-black dark:text-white' %>
      </span>
    <% end %>

    <span class="ml-2">
      <%= 
        f.checkbox(
          :public_models,
          class: "form-checkbox h-4 w-4 text-blue-600 border-gray-300 rounded focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-600",
          checked: params[:public_models] == 'true',
          id: 'public_models',
          onchange: 'this.form.requestSubmit()'
        )
      %> 
      <%= f.label :public_models, 'Public models', class: 'text-black dark:text-white' %>
    </span>
  <% end %>
</div>