<%= render 'data_models/stylesheet', data_models: [@data_model] %>
<%= render 'expiry_warning' %>
<div class="mx-auto max-w-6xl">
  <div class="max-lg:hidden text-zinc-950 dark:text-white">
    <%= link_to data_model_path(@data_model) do %>
      <div class="flex items-center space-x-2">
        <%= render_icon :arrow_back %>
        <span>Back to Preview</span>
      </div>
    <% end %>
  </div>
  <div class="flex flex-wrap items-end justify-between gap-4 mt-4">
    <div class="w-full">
      <%= page_header_tag 'Edit Data Model' %>
    
      <div class="flex justify-between items-center mt-4">
        <div class="flex gap-6 py-6">
          <%= render partial: 'resource_summary', locals: { name: @data_model.name, dom_id: dom_id(@data_model) } %>
          <div class="space-y-1.5">
            <div class="text-base/6 font-semibold dark:text-white">
              <%= @data_model.name %>
            </div>
            <div class="text-xs/6 text-zinc-500 min-h-4">
              <%= @data_model.description %>
            </div>
            <%= render 'data_model_type_badge', data_model: @data_model %>
            <%= render 'other_workspace_badge', data_model: @data_model %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4 flex flex-wrap items-end justify-start gap-4">
    <%= turbo_frame_tag dom_id(@data_model, :goals_list), class: 'w-full' do %>
      <% @data_model.children.order(:position).each do |goal| %>
        <%= turbo_frame_tag dom_id(goal) do %>
          <div class="mb-6 w-full rounded-lg border border-zinc-200 bg-white p-4 shadow-sm dark:border-zinc-700 dark:bg-zinc-800">
            <%= turbo_frame_tag dom_id(goal, :link) do %>
              <%= render '/goals/link', goal: goal %>
            <% end %>
            <%= turbo_frame_tag dom_id(goal, :targets_list) do %>
              <% goal.children.order(:position).each do |target| %>
                <%= turbo_frame_tag dom_id(target) do %>
                  <%= render 'targets/target', target: %>
                <% end %>
              <% end %>
            <% end %>

            <%= turbo_frame_tag dom_id(goal, :new_target) do %>
              <%= render 'targets/link_to_new_element', parent: goal %>
            <% end %>
            
          </div>
        <% end %>
      <% end %>
    <% end %>
    
    <%= turbo_frame_tag dom_id(@data_model, :new_goal) do %>
       <%= render 'goals/link_to_new_element', data_model_id: @data_model.id %>
    <% end %>
  </div>
</div>
