<%= render 'impact_card_data_models/stylesheet', impact_card_data_models: [@impact_card_data_model] %>
<%= render 'expiry_warning' %>
<div class="mx-auto max-w-6xl">
  <div class="flex flex-wrap items-end justify-between gap-4">
    <div class="w-full">
      <%= page_header_tag 'Edit Data Model' %>
      
      <div class="flex justify-between items-center mt-4">
        <div class="flex gap-6 py-6">
          <%= render partial: 'resource_summary', locals: { name: @impact_card_data_model.name, dom_id: dom_id(@impact_card_data_model) } %>
          <div class="space-y-1.5">
            <div class="text-base/6 font-semibold dark:text-white">
              <%= @impact_card_data_model.name %>
            </div>
            <div class="text-xs/6 text-zinc-500 min-h-4">
              <%= @impact_card_data_model.description %>
            </div>
            <%= render 'impact_card_data_model_type_badge', impact_card_data_model: @impact_card_data_model %>
            <%= render 'other_workspace_badge', impact_card_data_model: @impact_card_data_model %>
          </div>
        </div>
        <div class="relative">
        </div>
      </div>
    </div>
  </div>

  <div class="mt-4 flex flex-wrap items-end justify-start gap-4">
    <%= turbo_frame_tag dom_id(@impact_card_data_model, :goals_list) do %>
      <% @impact_card_data_model.focus_area_groups.each do |focus_area_group| %>
        <div class="mb-6">
          <%= turbo_frame_tag dom_id(focus_area_group) do %>
            <%= render '/goals/link', goal: focus_area_group %>
          <% end %>
          <%= turbo_frame_tag dom_id(focus_area_group, :targets_list) do %>
            <% focus_area_group.focus_areas.order(:position).each do |focus_area| %>
              <div class="mb-4 ml-3">
                <%= turbo_frame_tag dom_id(focus_area) do %>
                  <%= render '/targets/link', target: focus_area %>
                <% end %>
                <ul class="list-disc pl-8">
                  <%= turbo_frame_tag dom_id( focus_area, :indicators_list) do %>
                    <% focus_area.characteristics.each do |characteristic| %>
                      <%= turbo_frame_tag dom_id(characteristic) do %>
                        <%= render '/indicators/link', indicator: characteristic %>
                      <% end %>
                    <% end %>
                  <% end %>
                </ul>
                <%= turbo_frame_tag dom_id(focus_area, :new_indicator) do %>
                  <div class="flex justify-end">
                    <%= 
                      link_to(
                        'Create Indicator', 
                        new_target_indicator_path(target_id: focus_area.id), 
                        class: 'ml-2 inline-flex items-center px-4 py-2 border border-transparent text-xs font-medium rounded-md text-white bg-emerald-600 hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500', 
                        data: { turbo_stream: true }
                      )
                    %>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>

          <%= turbo_frame_tag dom_id(focus_area_group, :new_target) do %>
            <div class="flex justify-end">
              <%= 
                link_to(
                  'Create Target', 
                  new_goal_target_path(goal_id: focus_area_group.id), 
                  class: 'ml-2 inline-flex items-center px-4 py-2 border border-transparent text-xs font-medium rounded-md text-white bg-emerald-600 hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500', 
                  data: { turbo_stream: true }
                )
              %>
            </div>
          <% end %>
          
        </div>
      <% end %>
    <% end %>
    
    <%= turbo_frame_tag dom_id(@impact_card_data_model, :new_goal) do %>
      <div class="flex justify-end">
        <%= 
          link_to(
            'Create Goal', 
            new_impact_card_data_model_goal_path(impact_card_data_model_id: @impact_card_data_model.id), 
            class: 'ml-2 inline-flex items-center px-4 py-2 border border-transparent text-xs font-medium rounded-md text-white bg-emerald-600 hover:bg-emerald-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-emerald-500', 
            data: { turbo_stream: true }
          )
        %>
      </div>
    <% end %>
  </div>
</div>
