<%= render 'expiry_warning' %>
<div class="mx-auto max-w-6xl">
  <div class="flex flex-wrap items-end justify-between gap-4">
    <div class="w-full">
      <h1 class="text-2xl/8 font-semibold text-zinc-950 sm:text-xl/8 dark:text-white">Library</h1>
      <div class="flex justify-between items-center mt-4">
        <%= render partial: 'search_form', locals: { record: @q, placeholder: 'Search data model library...', options: { url: impact_card_data_models_path } } %>
        <%- if policy(ImpactCardDataModel).create? %>
          <div>
            <%#= link_to_primary 'Create Impact Card Data Model', new_impact_card_data_model_path %>
          </div>
        <%- end %>
      </div>
    </div>
    <%= turbo_frame_tag :stylesheet do %>
      <%= render 'impact_card_data_models/stylesheet', impact_card_data_models: @all_impact_card_data_models %>
    <% end %>

    <ul class="w-full divide-y divide-gray-200 dark:divide-gray-700">
      <%= turbo_frame_tag :list do %>
        <%= render partial: 'impact_card_data_model', collection: @impact_card_data_models, as: :impact_card_data_model %>
        <%= render partial: 'pagination' %>
      <% end %>
    </ul>
  </div>
</div>
