
<% content_for :extra_links do %>
  <div class="sm:mx-auto xsm:w-full sm:max-w-md">
    <div class="py-8 px-4 sm:px-10">
      <div class="mt-8 text-xs leading-5 text-gray-100 md:order-1 md:mt-0 text-center space-x-4">
        <%= login_pages_link_to 'Privacy policy', privacy_path %>
        <%= login_pages_link_to 'Terms & conditions', terms_path %>
        <%= login_pages_link_to 'Takedown policy', takedown_path %>
      </div>
    </div>
  </div>
<% end %>

<%= render layout: "layouts/devise_page", locals: { title: "Sign in" } do %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'space-y-6' }, data: { turbo: false }) do |f| %>
    <div>
      <%= f.label :email, class: 'text-black dark:text-black' %>
      <div class="mt-1">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", type: 'email', required: true %>
      </div>
    </div>

    <div>
      <%= f.label :password, class: 'text-black dark:text-black' %>
      <div class="mt-1">
        <%= f.password_field :password, autocomplete: "current-password", required: true %>
      </div>
    </div>

    <div class="flex items-center justify-between">
      <% if devise_mapping.rememberable? %>
        <div class="flex items-center">
          <%= f.check_box :remember_me, class: "h-4 w-4 rounded border-gray-300 text-teal-600 focus:ring-teal-500" %>
          <%= f.label :remember_me, class: "ml-2 block text-sm text-gray-900" %>
        </div>
      <% end %>

      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
        <div class="text-sm">
          <%= link_to "Forgot your password?", new_password_path(resource_name), class: "font-medium text-teal-600 hover:text-teal-500" %>
        </div>
      <% end %>
    </div>

    <%#= recaptcha_with_nonce(action: 'log_in') %>

    <div>
      <%= f.submit "Sign in", class: "flex w-full justify-center rounded-md border border-transparent bg-teal-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-teal-700 focus:outline-none focus:ring-2 focus:ring-teal-500 focus:ring-offset-2" %>
    </div>
  <% end %>
<% end %>
