<div id="login-box">

  <h1>
    <img class="logo" src="/assets/images/logo.png" alt="Wicked lab logo">
  </h1>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <i class="login-icon fa fa-at"></i>
      <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: 'email' %>
    </div>
    <div class="form-group">
      <i class="login-icon fa fa-key"></i>
      <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: 'password' %>
    </div>
    <% if devise_mapping.rememberable? -%>
      <div class="checkbox">
        <label>
          <%= f.check_box :remember_me %> Remember Me
        </label>
      </div>
    <% end -%>
    <%= f.submit "Log in", class: "btn submit btn-primary" %>
  <% end %>

  <p class="forgot">
    <%= render "devise/shared/links" %>
  </p>
</div>
