<%= render 'labels/stylesheet', labels: @subsystem_tags %>

<div class="text-left" data-controller="grid" data-grid-mode="<%= impact_card.grid_mode %>">
  <div class="flex justify-between items-center mb-4 print:hidden">

    <%= form_with url: search_url, method: :get, data: { grid_target: 'filterForm' } do |form| %>
      <div class="flex space-x-4">
        <div class="pt-2 flex justify-center items-center"><span class="text-sm font-medium text-gray-900 dark:text-white">Filter by:</span></div>
        <div>
          <%= form.label :date, class: "sr-only" %>
          <%= custom_date_field_tag :date, @date, title: 'Filter by date', class: 'py-1.5', data: { grid_target: "date" }  %>
        </div>
        <div>
          <%= form.label :subsystem_tags, class: "sr-only" %>
          <%=
            form.multi_select(
              :subsystem_tags,
              multi_select_options_for_labels(@subsystem_tags, @selected_subsystem_tags),
              { placeholder: 'Select subsytem tags...',  title: 'Filter by subsystem tag' }, # TODO: Get title to work
              { include_hidden: false, data: { grid_target: "subsystemTags" } }
            )
          %>
        </div>
        <div>
          <%= form.label :statuses, class: "sr-only" %>
          <%=
            form.multi_select(
              :statuses,
              multi_select_options_for_statuses(@statuses, @selected_statuses, impact_card),
              { placeholder: 'Select statuses...' },
              { include_hidden: false, data: { grid_target: "statuses" } }
            )
          %>
        </div>
      </div>
    <% end %>
    <%= render 'theme_controls' if local_assigns[:theme_controls_visible] %>
  </div>

  <div class="grid grid-cols-4 text-white mt-4" data-grid-target="grid">
    <% impact_card_grid.each do |data| %>
      <div class="col-span-1 mb-2">
        <h3
          class="text-sm font-medium text-gray-900 dark:text-white print:text-black dark:print:text-black truncate"
          title="<%= data.dig('initiative', :name) %>"
          data-subsystem-tags="<%= data.dig('initiative', :subsystem_tag_names).to_json %>"
        >
          <% if signed_in? %>
            <%= link_to data.dig('initiative', :name), impact_card_initiative_path(impact_card_id: impact_card.id, id: data.dig('initiative', :id)), title: data.dig('initiative', :name) %>
          <% else %>
            <%= data.dig('initiative', :name) %>
          <% end %>
        </h3>
      </div>
      <div class="col-span-3 w-full mb-2 ml-2">
        <div class="flex flex-wrap gap-y-2">
          <%# TODO: Move grouping of data to impact_card_grid %>
          <%- data.except('initiative').values.group_by { |value| value[:focus_area_id] }.each do |focus_area_id, grouped_checklist_item_data| %>
            <div class="flex flex-nowrap items-center gap-1 mr-2">
              <%# TODO: Move the lookup of the focus area details to impact_card_grid %>
              <%= focus_area_grid_element(grouped_checklist_item_data.first) %>
              <%- grouped_checklist_item_data.each do |checklist_item_data| %>
                <%= checklist_list_item_grid_element(checklist_item_data:, grid_mode: impact_card.grid_mode) %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="hidden print:flex border border-black p-4 mt-6 rounded-lg break-before-page">
    <div class="flex justify-between items-center">
      <div class="flex flex-col space-y-2">
        <h4 class="text-md font-bold print:text-black">Filters</h4>
        <%# NOTE: The date is only ever set via a complete page refresh, so there's no need to try and dyanmically set it following user input %>
        <%- if @parsed_date.present? %>
          <div class="flex items-center space-x-2 mb-4 hidden print:block">
            <span class="text-sm font-medium text-gray-900 dark:text-white print:text-gray-900 print:dark:text-gray-900">Date:</span>
            <div class="mt-3 flex flex-wrap gap-2">
              <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-zinc-500 text-white" >
                <%= @parsed_date %>
              </span>
            </div>
          </div>
        <% end %>

        <div class="flex items-center space-x-2 mb-4 hidden sr:hidden" data-grid-target="selectedSubsystemTagsForPrintContainer">
          <span class="text-sm font-medium text-gray-900 dark:text-white print:text-gray-900 print:dark:text-gray-900">Selected subsystem tags:</span>
          <div class="mt-3 flex flex-wrap gap-2" data-grid-target="selectedSubsystemTagsForPrint">
            <% @selected_subsystem_tags.each do |subsystem_tag| %>
              <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-zinc-500 text-white" >
                <%= subsystem_tag.name %>
              </span>
            <% end %>
          </div>
        </div>

        <div class="flex items-center space-x-2 mb-4 hidden sr:hidden" data-grid-target="selectedStatusesForPrintContainer">
          <span class="text-sm font-medium text-gray-900 dark:text-white print:text-gray-900 print:dark:text-gray-900">Selected statuses:</span>
          <div class="mt-3 flex flex-wrap gap-2" data-grid-target="selectedStatusesForPrint">
            <% @selected_statuses.each do |status| %>
              <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-zinc-500 text-white">
                <%= status %>
              </span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= render 'legend', items: @legend_items %>
</div>


