<div class="tab-pane" id="tab5">
  <div class='container flex-grow-1'>
    <div class="row">
      <div class="col-md-3">
        
      </div>
      <div class="col-md-6">
        <div class="row preview-row">
          <h4><%= Scorecard.model_name.human %>
          <%= 
            link_to(
              content_tag(
                :i, 
                '', 
                class: "fa fa-external-link"
              ),
              nil,
              remote: true,
              onclick: "$('.wizard').smartWizard('goToStep', 0);"
            )
          %>
          <strong id='preview-scorecard-name'></strong></h4>
        </div>
        <div class="row preview-row">
          <p id='preview-scorecard-description'></p>
          
          <h4>Wicked Problem / Opportunity
            <%= 
              link_to(
                content_tag(
                  :i, 
                  '', 
                  class: "fa fa-external-link"
                ),
                nil,
                remote: true,
                onclick: "$('.wizard').smartWizard('goToStep', 1);"
              )
            %>  
            <strong id='preview-wicked-problem-name'></strong>
          </h4>
          <hr>
        </div>
        <div class="row preview-row">
          <p id='preview-wicked-problem-description'></p>
          
          <h4>Community
            <%= 
              link_to(
                content_tag(
                  :i, 
                  '', 
                  class: "fa fa-external-link"
                ),
                nil,
                remote: true,
                onclick: "$('.wizard').smartWizard('goToStep', 2);"
              )
            %>  
            <strong id='preview-community-name'></strong>
          </h4>
        </div>
        <div class="row preview-row">
          <p id='preview-community-description'></p>
          
          <h4>Initiatives
            <%= 
              link_to(
                content_tag(
                  :i, 
                  '', 
                  class: "fa fa-external-link"
                ),
                nil,
                remote: true,
                onclick: "$('.wizard').smartWizard('goToStep', 3);"
              )
            %>  
            <strong id='preview-community-name'></strong>
          </h4>
        </div>  
        <div class="row preview-row">
          <ul id='preview-initiatives'>
            
          </ul>
        </div>
        
      </div>
    </div>
    <div class="links row d-flex justify-content-end ml-5">
      <%= form.button :submit, class: 'btn btn-primary float-right' %>
    </div>      
  </div>
</div>

        