<div class="form-group row">
  <label class="col-sm-3 col-form-label">Assign Subsystem Tags</label>
  <div class="subsystem-tags">
    <div data-controller='initiative-nested-form' 
      data-nested-form-wrapper-selector-value='.nested-form-wrapper'
      data-initiative-nested-form-new-item-value="{}"
    >
      <template data-initiative-nested-form-target="template">
        <%= f.fields_for :initiatives_subsystem_tags, InitiativesSubsystemTag.new, child_index: 'NEW_RECORD' do |initiatives_subsystem_tag_form| %>
          <%= render "transition_cards/form_tabs/subsystem_tag_form", f: initiatives_subsystem_tag_form %>
        <% end %>
      </template>

      <%= f.fields_for :initiatives_subsystem_tags do |initiatives_subsystem_tag_form| %>
        <%= render "transition_cards/form_tabs/subsystem_tag_form", f: initiatives_subsystem_tag_form %>
      <% end %>

      <!-- Inserted elements will be injected before that target. -->
      <div data-initiative-nested-form-target="target"></div>

      <div class="links row d-flex justify-content-start ml-5">
        <button type="button" class="btn btn-secondary" data-action="initiative-nested-form#add">
          Add Another
        </button>

        <div class="col">
          <%= 
            link_to(
              "Create a new Subsystem Tag", 
              new_subsystem_tag_path, 
              remote: true, 
              class: "btn btn-secondary"
            ) 
          %>
        </div>   
      </div>
    </div>
  </div>
</div>
<hr/>

