<div class="box-body scorecard-matrix transition-card-matrix pl-3" data-transition-cards-target="grid">
  <div class="outer">
    <div class="inner">
      <table class="pre-scrollable">
        <thead>
          <tr>
            <th>&nbsp;</th>
            <% @focus_areas.each_with_index do |focus_area, index| %>
              <th colspan="<%= focus_area.characteristics.count %>" class="legend">
                <div data-toggle="tooltip" data-placement="top" title="<%= focus_area.name %>">
                  <span class="text-color<%="#{index+1}"%>">Focus Area <%= index + 1 %>
                  </span>
                </div>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @results.each do |result| %>
          <tr>
            <th>
              <%=
                link_to_if(
                  !(defined?(disable_links) && disable_links),
                  result.dig('initiative', :name),
                  initiative_path(id: result.dig('initiative', :id)),
                  class: 'truncate',
                  data: {
                    toggle: 'tooltip',
                    placement: 'top',
                    title: result.dig('initiative', :name)
                  }
                ) do
                  tag.span(result.dig('initiative', :name), class: 'truncate')
                end
              %>
            </th>
            <% @characteristics.each do |characteristic| %>
              <td
                data-toggle="tooltip"
                data-placement="left"
                data-container=".inner"
                data-status="<%= result.dig(characteristic.id.to_s, :status) %>"
                title="<%= result.dig(characteristic.id.to_s, :name) %>"
                class="<%= cell_class(result, @focus_areas, characteristic) %>">
                <span>&nbsp;</span>
              </td>
            <% end %>
          </tr>
          <% end %>
        </tbody>
        <tfoot>
          <tr class="chars">
            <td>
              &nbsp;
            </td>
            <% @characteristics.each do |characteristic| %>
              <td>
                <span class="text-color<%= @focus_areas.index(characteristic.focus_area)+1%>"><%= characteristic.name %></span>
              </td>
            <% end %>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</div>
