<div class="modal-header">
  <h5 class="modal-title">
    <strong>
      <%= @initiative.name %>
    </strong>
  </h5>
</div>
<div class="modal-body">
  <%= render 'description' %>
  <%= render 'partnering_organisations' %>
  <%= render 'subsystem_tags' %>
  <%= render 'date_ranges' %>
</div>
