<div class="col-md-6">
  <% focus_areas.each_with_index do |focus_area, focus_area_index| %>
    <h4><span class="color<%=focus_area_index + offset%>">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> <%= focus_area_model_name(focus_area) %> <%= focus_area_index + offset %> - <%= focus_area.name.encode("Windows-1252").force_encoding("UTF-8") %></h4>
    <ul>
      <% focus_area.characteristics.each_with_index do |characteristic, characteristic_index| %>
        <li><span class="text-color<%=focus_area_index + offset%>"><%= characteristic.identifier %></span> - <%= characteristic.name.encode("Windows-1252").force_encoding("UTF-8") %></li>
      <% end %>
    </ul>
  <% end %>
</div>
