<%= simple_form_for(@organisations_import) do |f| %>
  <%= f.error_notification %>
  <div class='box box-primary'>
    <div class='box-header with-border'>
      <h3 class='box-title'><%= form_title(@organisations_import) %></h3>
    </div>
    <div class='box-body'>
      
      <div>
        <%= import_files_instructions_link %>
      </div>
      
      <% if @organisations_import.import_data.present? %>
        <%= f.input :import_file_name, readonly: true, input_html: { value: @organisations_import.import.original_filename } %>
        <%= f.input :import, as: :hidden, input_html: { value: @organisations_import.import_data } %>
      <% else %>  
        <%= f.input :import, as: :file, required: true %>
      <% end %>
    </div>    
    <%= render partial: 'import/processing_errors', locals: { import: @organisations_import, return_link: new_organisations_import_url } %>
  </div>
  
  <div class='box-footer'>
    <% if @organisations_import.processing_errors.empty? %>
      <%= f.button :submit, 'Import', class: 'btn btn-primary pull-right', style: 'margin-left: 15px' %>
    <% end %>
    <%= link_to('Cancel', organisations_path, class: 'btn btn-secondary pull-right') %>
  </div>

<% end %>
