<%= simple_form_for(@video_tutorial, role: 'form', html: { class: 'form-horizontal' }) do |f| %>
  <%= f.error_notification %>
  <div class='box box-primary'>
    <div class='box-header with-border'>
      <h3 class='box-title'><%= form_title(@video_tutorial) %></h3>
    </div>
    <div class='box-body'>
      <%= f.input :name %>
      <%= f.input :description, as: :text, input_html: { class: 'textarea' } %>
      <%= f.input :link_url %>
      <%= f.input :position %>
      <%= f.input :promote_to_dashboard %>
    </div>

    <div class='box-footer'>
      <%= f.button :submit, class: 'btn btn-primary pull-right' %>
    </div>
  </div>
<% end %>
