<%= simple_form_for(@video_tutorial, role: 'form', html: { class: 'form-horizontal record-form' }) do |f| %>
  <%= f.error_notification %>
  <%= form_header(@video_tutorial) %></h3>    
  <%= f.input :name %>
  <%= f.input :description, as: :text, input_html: { class: 'textarea' } %>
  <%= f.input :link_url %>
  <%= f.input :position %>
  <%= f.input :promote_to_dashboard %>
  <%= render_form_button(f) %>
<% end %>
