<%= simple_form_for(@scorecard, role: 'form', method: :post, url: transition_cards_path, html: { class: 'form-horizontal' }) do |f| %>
<%= f.error_notification %>

  <% if @scorecard.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <h4><%= pluralize(@scorecard.errors.count, "error") %> prohibited this scorecard from being saved:</h4>

      <ul>
      <% @scorecard.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="wizard">
    <ul class="nav nav-fill">
      <li>
        <span class="align-middle">
        <a class="nav-link pt-3" href="#step-1">
          <%=
            case @scorecard
            when TransitionCard then @scorecard.account.transition_card_model_name
            when SustainableDevelopmentGoalAlignmentCard then @scorecard.account.sdgs_alignment_card_model_name
            end
          %>
        </a>
        </span>
      </li>
      <li>
        <a class="nav-link" href="#step-2">
          Wicked Problem / Opportunity
        </a>
      </li>
      <li>
        <a class="nav-link pt-3" href="#step-3">
          Community
        </a>
      </li>
      <li>
        <a class="nav-link pt-3" href="#step-4">
          Initiatives
        </a>
      </li>
      <li>
        <a class="nav-link pt-3" href="#step-5">
          Preview
        </a>
      </li>
    </ul>

    <div class="tab-content">
      <div id="step-1" class="tab-pane" role="tabpanel">
        <%= render 'transition_cards/form_tabs/scorecard', form: f %>
      </div>
      <div id="step-2" class="tab-pane" role="tabpanel">
        <%= render 'scorecards/form_tabs/wicked_problem', form: f %>
      </div>
      <div id="step-3" class="tab-pane" role="tabpanel">
        <%= render 'scorecards/form_tabs/community', form: f %>
      </div>
      <div id="step-4" class="tab-pane" role="tabpanel">
        <%= render 'transition_cards/form_tabs/initiatives', form: f %>
      </div>
      <div id="step-5" class="tab-pane" role="tabpanel">
        <%= render 'scorecards/form_tabs/preview', form: f %>
      </div>
    </div>
  </div>
<% end %>
