<div class="row">
  <div class="col-md-6">
    <div class="box box-default color-palette-box">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-pie-chart fa-report"></i> Transition Card Stakeholder Report</h3>
      </div>
      <%= simple_form_for :report, url: transition_card_stakeholders_reports_path(format: :xlsx), role: 'form', html: { class: 'form-horizontal' } do |f| %>
      <div class="box-body">
        <p>This report provides details on the number of partnering organisations, the initiatives they are working on and their sector.</p>
        <%= f.input :scorecard_id, collection: current_account.scorecards, label: Scorecard.model_name.human %>
      </div>
      <div class="box-footer">
        <%= button_tag('Download', type: 'submit', class: "btn btn-primary float-right") %>
      </div>
      <% end %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="box box-default color-palette-box">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-pie-chart fa-report"></i> <%= Scorecard.model_name.human %> Activity Report</h3>
      </div>
      <%= simple_form_for :report, url: scorecard_activity_reports_path(format: :xlsx), role: 'form', html: { class: 'form-horizontal' } do |f| %>
      <div class="box-body">
        <p>This report shows the addition and removal of characteristics across initiatives over a period of time.</p>
        
        <%= f.input :scorecard_id, collection: current_account.scorecards, label: Scorecard.model_name.human %>
        <%= f.input :date_from, :as => :string, :input_html => { data: { behaviour: "datepicker", datepicker_position: "bottom" }, autocomplete: "off" } %>
        <%= f.input :date_to, :as => :string, :input_html => { data: { behaviour: "datepicker" }, autocomplete: "off" } %>

      </div>
      <div class="box-footer">
        <%= button_tag('Download', type: 'submit', class: "btn btn-primary float-right") %>
      </div>
      <% end %>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="box box-default color-palette-box">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-pie-chart fa-report"></i> <%= Scorecard.model_name.human %> Comments Report</h3>
      </div>
      <%= simple_form_for :report, url: scorecard_comments_reports_path(format: :xlsx), role: 'form', html: { class: 'form-horizontal' } do |f| %>
      <div class="box-body">
        <p>This report shows the last comments saved across initiatives.</p>
        <%= f.input :scorecard_id, collection: current_account.scorecards, label: Scorecard.model_name.human %>
        <%= f.input :date, :as => :string, :input_html => { data: { behaviour: "datepicker" }, autocomplete: "off" } %>

      </div>
      <div class="box-footer">
        <%= button_tag('Download', type: 'submit', class: "btn btn-primary float-right") %>
      </div>
      <% end %>
    </div>
  </div>
<div>
