<div class="row">
  <div class="col-md-6">
    <div class="box box-default color-palette-box">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-pie-chart"></i> Initiative Report</h3>
      </div>
      <div class="box-body">
        <p>Search for Initiatives sharing the same Wicked Problems and Communities.</p>
        <p>NB This report reqires at least one Wicked Problem and one Community to be selected.</p>
        <%= simple_form_for :report, url: initiatives_reports_path do |f| %>
          <%= f.input :wicked_problems, as: :check_boxes, collection: current_account.wicked_problems %>
          <%= f.input :communities, as: :check_boxes, collection: current_account.communities %>
          <%= f.button :submit, 'Execute', class: 'pull-right' %>
        <% end %>
      </div>
    </div>
  </div>
  
  <div class="col-md-6">
    <div class="box box-default color-palette-box">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-pie-chart"></i> Stakeholder Report</h3>
      </div>
      <%= simple_form_for :report, url: stakeholders_reports_path, role: 'form', html: { class: 'form-horizontal' } do |f| %>
      <div class="box-body">
        <p>Search for stakeholder Organistions sharing the same Wicked Problems, Community and Sector.</p>
        
          <%= f.input :wicked_problem, collection: current_account.wicked_problems %>
          <%= f.input :community, collection: current_account.communities %>
          <%= f.input :sector, collection: Sector.all %>

      </div>
      <div class="box-footer">
        <%= f.button :submit, 'Execute', class: 'pull-right' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="box box-default color-palette-box">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fa fa-pie-chart"></i> Scorecard Activity Report</h3>
      </div>
      <%= simple_form_for :report, url: scorecard_activity_reports_path, role: 'form', html: { class: 'form-horizontal' } do |f| %>
      <div class="box-body">
        <p>Scorecard activity (addition and removal of characteristics across intitiatives) report.</p>
        
        <p><strong>PLEASE NOTE:</strong> Historical data is only available from May 30, 2017.</p>
        <p>Reports executed for date ranges earlier than this are not accurate.</p>
        
          <%= f.input :scorecard_id, collection: current_account.scorecards %>
          <%= f.input :date_from, :as => :string, :input_html => { data: { behaviour: "datepicker" }} %>
          <%= f.input :date_to, :as => :string, :input_html => { data: { behaviour: "datepicker" }} %>

      </div>
      <div class="box-footer">
        <%= f.button :submit, 'Execute', class: 'pull-right' %>
      </div>
      <% end %>
    </div>
  </div>
<div>