<div class="box">
  <div class='box-body no-padding'>
    <div class="box-header with-border">
      <div class="pull-right">
        <%= link_to(scorecard_comments_reports_path(report: {scorecard_id: @scorecard.id, date: @date}, format: :csv), 
          class: 'btn btn-primary') do
          safe_join([content_tag(:i, '', class: "fa fa-download"), ' Download'])
        end %>
      </div>
    
      <h3><%= Scorecard.model_name.human %>: <%= @report.scorecard.name %></h3>
      <h3>Date: <%= @report.date.strftime('%d/%m/%y') %></h3>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>&nbsp;</th>  
          <th>Total initiatives</th>  
          <th>Total comments</th>  
          <% @report.initiatives.each_with_index do |_, index| %>
            <th><%= "Initiative #{index+1}"%></th>  
          <% end %>  
        </tr>
      </thead>
      <tbody>
        <% current_focus_area_group = '' %>
        <% current_focus_area = '' %>
        <% @report.results.each do |result| %>
        
        <% if result[:focus_area_group] != current_focus_area_group %>
          <% current_focus_area_group = result[:focus_area_group] %>
          <% current_focus_area = '' %>
          <tr>
            <td><strong><%= result[:focus_area_group] %></strong></td>
            <% (@report.initiatives.count + 2).times do %>
              <td></td>
            <% end %>  
          </tr>
        <% end %>
        
        <% if result[:focus_area] != current_focus_area %>
          <% current_focus_area = result[:focus_area] %>
          <tr>
            <td style="text-align: right"><strong><%= result[:focus_area] %></strong></td>
            <% (@report.initiatives.count + 2).times do %>
              <td></td>
            <% end %>  
          </tr>
        <% end %>
        <tr>
          <td style="text-align: right"><%= result[:characteristic] %></td>   
          <td><%= result[:initiatives_count] %></td>  
          <td><%= result[:comment_counts] %></td>  
          <% @report.initiatives.each_with_index do |_, index| %>
            <td><%= result["initiative_#{index+1}".to_sym] %></td>  
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>