<div class="box">
  <div class='box-body no-padding'>
    <!-- <div class="pull-right">
      <%= link_to(scorecard_activity_reports_path(format: :csv), class: 'remote-link btn btn-primary') do
        safe_join([content_tag(:i, '', class: "fa fa-share-alt"), ' Export'])
      end %>
    </div> -->
    
    <h3>Scorecard: <%= @report.scorecard.name %></h3>
    <h3>Date range: <%= @report.date_from.strftime('%d/%m/%y') %> to <%= @report.date_to.strftime('%d/%m/%y') %></h3>
    
    <table class="table table-striped">
      <thead>
        <tr>
          <th>&nbsp;</th>  
          <th>Total Initiatives beginning of period</th>  
          <th>Additions</th>  
          <th>Removals</th>  
          <th>Total Initiatives end of period</th>  
        </tr>
      </thead>
      <tbody>
        
        <tr>
          <td><strong>Scorecard Initiatives</strong></td>
          <td><%= @report.initiative_totals[:initial] %></td>
          <td><%= @report.initiative_totals[:additions] %></td>
          <td><%= @report.initiative_totals[:removals] %></td>
          <td><%= @report.initiative_totals[:final] %></td>
        </tr>
        
        <% current_focus_area_group = '' %>
        <% current_focus_area = '' %>
        <% @report.results.each_with_index do |result, index| %>
        
        <% if result[:focus_area_group] != current_focus_area_group %>
          <% current_focus_area_group = result[:focus_area_group] %>
          <% current_focus_area = '' %>
          <tr>
            <td><strong><%= result[:focus_area_group] %></strong></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
        
        <% if result[:focus_area] != current_focus_area %>
          <% current_focus_area = result[:focus_area] %>
          <tr>
            <td style="text-align: right"><strong><%= result[:focus_area] %></strong></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        <% end %>
        
        <tr>
          <td style="text-align: right"><%= result[:characteristic] %></td>  
          <td><%= result[:initial] %></td>  
          <td><%= result[:additions] %></td>  
          <td><%= result[:removals] %></td>  
          <td><%= result[:final] %></td>  
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>