<!DOCTYPE html>
<html>
<head>
  <title>WickedSoftware</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application'  %>
  <%= csrf_meta_tags %>
</head>
<body>

  <!-- If no session let rails handle it -->
    <% # SMELL Required by Devise %>
    <% if notice.present? %>
      <aside class="alert alert-info">
        <%= notice %>
      </aside>
    <% end %>
    <% if alert.present? %>
      <aside class="alert alert-danger">
        <%= alert %>
      </aside>
    <% end %>

    <%= yield %>
  <!-- else let angular deal with the rest -->
    <div ng-app="WKD"></div>
      <header id="header" ng-include="'/templates/layout/header.html'"></header>

      <nav id="main-nav" ng-include="'/templates/layout/main-nav.html'"></nav>

      <main id="main-content">
        <div class="scroller" ui-view></div>
      </main>

      <wkd-sidebar></wkd-sidebar>
    </div>
  <!-- end els -->

</body>
</html>
