<!DOCTYPE html>
<html>
  <head>
    <title><%= application_title%></title>
    <%= csrf_meta_tags %> 
    <%= csp_meta_tag %> 
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <script src="https://kit.fontawesome.com/60b51f5021.js" crossorigin="anonymous"></script>
  </head>
  <body class="hold-transition login-page">
    <div class="wrapper">
      <div class="login-box">
        <div class="login-logo">
          <span class="logo-lg">
            <%= image_tag('logo.png', style: 'height:35px;margin-top:-4px;margin-right:7px')%>
            <b>Wicked</b>Lab
          </span>
        </div>
        <div class="login-box-body">
          <%= render 'layouts/shared/flash' %>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>


