<!DOCTYPE html>
<html>
  <head>
    <title><%= application_title%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

    <%= render partial: '/layouts/shared/favicons' %>
    <script src="https://kit.fontawesome.com/60b51f5021.js" crossorigin="anonymous"></script>
  </head>
  <body class="hold-transition login-page">
    <div class="wrapper">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>


