<!DOCTYPE html>
<html>
  <head>
    <title><%= application_title%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= render partial: '/layouts/shared/favicons' %>
    <script src="https://kit.fontawesome.com/60b51f5021.js" crossorigin="anonymous"></script>
  </head>
  <body class="skin-blue sidebar-mini layout-top-nav ">
    <div class="wrapper">
      <div class="content-wrapper">
        <section class="content">
            <%= yield %>
        </section>
      </div>
    </div>
  </body>
</html>
