<!DOCTYPE html>
<html>
  <head>
    <title><%= application_title%></title>
    <%= csrf_meta_tags %> 
    <%= csp_meta_tag %> 
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <script src="https://kit.fontawesome.com/60b51f5021.js" crossorigin="anonymous"></script>
  </head>
  <body class="skin-blue sidebar-mini layout-top-nav">
    <div class="wrapper">
      <header class="main-header">
        <nav class="navbar navbar-static-top" role="navigation">
         <%= render 'layouts/logo' %>
          <div class="navbar-custom-menu mr-3">
            <!-- SMELL Inline styles -->
            <ul class="nav navbar-nav" style="margin-top: -15px;">
              <li><%= link_to "Sign In", new_user_session_path %></li>
              <!-- <li><%#= link_to "Sign Up", new_user_registration_path %></li> -->
            </ul>
          </div>
        </nav>
      </header>
      <div class="content-wrapper">
        <section class="content">
            <div class="home">
              <%= yield %>
            </div>  
        </section>
      </div>
      <%= render 'layouts/shared/footer' %>
    </div>
  </body>
</html>
