<!DOCTYPE html>
<html>
  <head>
    <title><%= application_title%></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= render partial: '/layouts/shared/favicons' %>
    <script src="https://kit.fontawesome.com/60b51f5021.js" crossorigin="anonymous"></script>
  </head>
  <body class="skin-blue sidebar-mini layout-top-nav">
    <div class="wrapper">
      <header class="main-header">
        <nav class="navbar navbar-static-top" role="navigation">
          <div class="container-fluid">
            <div class="navbar-header">
              <!-- Your other navbar content here -->
            </div>
            <div class="navbar-right">
              <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary btn-lg" %>
            </div>
          </div>
        </nav>
      </header>
      <div class="content-wrapper">
        <section class="content">
            <div class="home">
              <%= render partial: 'layouts/shared/flash' %>
              <%= yield %>
            </div>
        </section>
      </div>
      <%= render 'layouts/shared/footer' %>
    </div>
  </body>
</html>
