<!DOCTYPE html>
<html>
<%= render 'layouts/shared/head' %>
<body class="skin-blue sidebar-mini layout-top-nav">
  <div class="wrapper">
    <header class="main-header">
      <nav class="navbar navbar-static-top" role="navigation">
        <%= render 'layouts/shared/logo' %>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li><%= link_to "Sign In", new_user_session_path %></li>
            <!-- <li><%#= link_to "Sign Up", new_user_registration_path %></li> -->
          </ul>
        </div>
      </nav>
    </header>
    <div class="content-wrapper">
      <section class="content">
          <%= render 'layouts/shared/flash' %>
          <div class="home">
            <%= yield %>
          </div>  
      </section>
    </div>
    <%= render 'layouts/shared/footer' %>
  </div>
</body>
</html>
