<li>
  <%= horizontal_rule %>
  <div class="flex items-center justify-between">
    <div class="flex gap-6 py-6">
      <%= render partial: 'resource_summary', locals: { name: account.name, background_color: 'bg-green-700' } %>
      <div class="space-y-1.5">
        <div class="text-base/6 font-semibold dark:text-white">
          <%= link_to highlight(account.name, params.dig(:q, :name_or_description_cont)), account_path(account), data: { turbo: false } %>
        </div>
        <div class="text-xs/6 text-zinc-500 min-h-4">
          <%= highlight(account.description, params.dig(:q, :name_or_description_cont)) %>
        </div>
        <div class="text-xs/6 text-zinc-600">
          <%- if account.expired? %>
            <div class="inline-flex rounded-lg items-center justify-center bg-red-600 dark:bg-red-600 text-white" title="Expired">
              <p class="py-1 px-2 text-xs whitespace-nowrap">Expired</p>
            </div>
          <%- end %>
          <%= max_users(account) %>; <%= max_impact_cards(account) %>; <%= expires_on(account) %>
        </div>
      </div>
    </div>
  </div>
</li>
