<li>
  <hr
    role="presentation"
    class="w-full border-t border-zinc-950/10 dark:border-white/10"
  />
  <div class="flex items-center justify-between">
    <div class="flex gap-6 py-6">
      <div class="w-32 shrink-0">
        <div class="mx-auto h-20 w-20 flex-shrink-0 rounded-lg bg-green-700 flex items-center justify-center">
          <p class="text-4xl"><%= account.name[0] %></p>
        </div>
      </div>
      <div class="space-y-1.5">
        <div class="text-base/6 font-semibold dark:text-white">
          <%= link_to account.name, edit_account_path(account) %>
        </div>
        <div class="text-xs/6 text-zinc-500">
          <%= account.description %>
        </div>
        <div class="text-xs/6 text-zinc-600">
          Expires on <%= account.expires_on %>; Max users: <%= account.max_users %>; Max impact cards: <%= account.max_scorecards %>
        </div>
      </div>
    </div>
    <div class="flex items-center gap-4">
      <%= render_dropdown_menu do %>
        <%= dropdown_menu_trigger do %>
          <span class="text-white">
            <%= render_icon :more %>
          </span>
        <% end %>

        <%= dropdown_menu_content do %>
          <%=
            dropdown_menu_item do
              link_to "Modify", edit_account_path(account), class: "block w-full text-sm"
            end
          %>
          <%=
            dropdown_menu_item do
              link_to "Switch to", switch_account_path(account), class: "block w-full text-sm"
            end
          %>
        <% end %>
      <% end %>
    </div>
  </div>
</li>
