<div class="mx-auto max-w-6xl">
  <div class="flex flex-wrap items-end justify-between gap-4">
    <div class="w-full">
      <%= page_header_tag 'Account Details' %>
      <div class="flex justify-between items-center mt-4">
        <div class="flex gap-6 py-6">
        <%= render partial: 'resource_summary', locals: { name: @account.name, background_color: 'bg-green-700' } %>
          <div class="space-y-1.5">
            <div class="text-base/6 font-semibold dark:text-white">
              <%= @account.name %>
            </div>
            <div class="text-xs/6 text-zinc-500 min-h-4">
              <%= @account.description %>
            </div>
          </div>
        </div>
        <div class="relative">
          <div class="flex justify-end items-center mb-4  gap-4">
            <% if @account == current_account %>
              <span class="text-xs/6 text-zinc-600">Current account</span>
            <% else %>
              <%= link_to_primary 'Switch To', switch_account_path(@account), class: 'inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>
            <% end %>

            <%= link_to_primary 'Edit Account', edit_account_path(@account), class: 'inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr role="presentation" class="my-10 mt-6 w-full border-t border-zinc-950/10 dark:border-white/10">
  <%= render 'show_page_section', title: 'Overview' do %>
    <%= definition_list_element('Description', @account.description) %>
  <% end %>

  <%= render 'show_page_section', title: 'Status' do %>
    <%= definition_list_element('Deactivated', @account.deactivated) %>
    <%= definition_list_element('Expires on', @account.expires_on) %>
    <%= definition_list_element('Expiry warning sent on', @account.expiry_warning_sent_on) %>
  <% end %>

  <%= render 'show_page_section', title: 'Restrictions' do %>
    <%= definition_list_element('Max team members', @account.max_users) %>
    <%= definition_list_element('Max impact cards', @account.max_scorecards) %>
  <% end %>

  <%= render 'show_page_section', title: 'Other Settings' do %>
    <%= definition_list_element('Classic grid mode', @account.classic_grid_mode) %>
  <% end %>
</div>

