<%= simple_form_for(@account, role: 'form', html: { class: 'form-horizontal record-form' }) do |f| %>
  <%= form_header(@account) %>
  <%= f.input :name, required: false, readonly: true %>
  <%= f.input :description , as: :text, input_html: { class: 'textarea' }, readonly: true %>
  <%= f.input :welcome_message , as: :text, input_html: { class: 'textarea' }, readonly: true %>
  <%= f.input :expires_on, as: :string, readonly: true %>
  <%= f.input :max_users, readonly: true %>
  <%= f.input :max_scorecards, readonly: true, label: "Max #{Scorecard.model_name.human.pluralize.downcase}" %>
  <div class="row">
    <div class="col-sm-3 col-form-label optional">
      <label>Solution Ecosystem Maps</label>
    </div>
    <div class="icheck-primary col-sm-9 mt-1">
      <label class="">
        <%=
          f.input(
            :solution_ecosystem_maps,
            as: :boolean,
            label: false,
            input_html: { onclick: "return false;" }
          )
        %>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-form-label optional">
      <label>Allow Transition Cards?</label>
    </div>
    <div class="icheck-primary col-sm-9 mt-1">
      <label class="">
        <%=
          f.input(
            :allow_transition_cards,
            as: :boolean,
            label: false,
            input_html: { onclick: "return false;" }
          )
        %>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-form-label optional">
      <label>Allow SDG Goal Alignment Cards?</label>
    </div>
    <div class="icheck-primary col-sm-9 mt-1">
      <label class="">
        <%=
          f.input(
            :allow_sustainable_development_goal_alignment_cards,
            as: :boolean,
            label: false,
            input_html: { onclick: "return false;" }
          )
        %>
      </label>
    </div>
  </div>
  <%= edit_button('Edit Account', edit_account_path(@account)) if policy(@account).edit? %>
<% end %>

